
/* Display django-debug-toolbar.
   See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
   and https://github.com/pydanny/cookiecutter-django/issues/317
*/
[hidden][style="display: block;"] {
  display: block !important;
}


.filler{
  height: 100%;
  margin-bottom: 50px;
  position:relative;

}

.error{
    color:#ed5565;
}



.row .column:hover{
/*  border-color:#aaaaaa;
  border-width: 1px;
  border-style: dotted;*/
  cursor: pointer;

  /*Opacity*/
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}


.multiselect {
  width: 600px
}

.extra_params_class{
  min-height: 150px;
}

.ms-hover{
  background-color: #1ab394 !important;
}

.multiselect *
.ms-list:focus
{
    outline:none !important;
    outline:0 !important;
    border-color: #1ab394 !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
}


.bootstrap-tagsinput{
  background-color: #FFFFFF !important;
  background-image: none !important;
  border: 1px solid #e5e6e7 !important;
  border-radius: 1px !important;
  color: inherit !important;
  display: block !important;
  padding: 6px 12px !important;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important;
  width: 100% !important;
  font-size: 14px !important;
}

.focus{
      border-color: #1ab394 !important;
}

.focus
.bootstrap-tagsinput
.bootstrap-select button{
    -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0) !important;
     -moz-box-shadow: 0 5px 15px rgba(0,0,0,0) !important;
       -o-box-shadow: 0 5px 15px rgba(0,0,0,0) !important;
          box-shadow: 0 5px 15px rgba(0,0,0,0) !important;
}


.bootstrap-tagsinput
{
    outline-color: transparent;
    outline-style: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
:focus {
    outline-color: transparent;
    outline-style: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.list-group {
  background-color: #ffffff !important;
}

.top-buffer { margin-top:20px; }

.dygraph-legend{
  filter: alpha(opacity=0);
  background-color:rgba(255, 255, 255, 0.5) !important;
  color: black;
}

/* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}*/


.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}
.btn-space{
  margin: 5px;
}
.progress-mini{
  border-width: 0.5px;
  border-style: solid;
}

.progress-bar-border-navy-light {
  border-color: #3dc7ab;
}
.progress-bar-border-success {
  border-color: #1c84c6;
}
.progress-bar-border-primary {
  border-color: #23c6c8;
}
.progress-bar-border-info {
  border-color: #23c6c8;
}
.progress-bar-border-warning {
  border-color: #f8ac59;
}
.progress-bar-border-danger {
  border-color: #ed5565;
}


progress-bar-border-warning

progress-bar-border-danger

.server-data{
  padding:0px !important;
  background: #555555;
}

