{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Notification detail{% endblock %}

{% load staticfiles %}
{% load extra_tags %}
{% load notification_extra_tags %}



{% block page_header %}

{% endblock %}
{% block page_title %} Notification
                <small class="text-navy">{{ object.notification_label }}</small>
{% endblock %}
{% block content %}
    <div class="container">

    <div class="box">
        <div class="box-content">

            {% if "Mute" in object.notification_class %}
            <div class="row">
                <a class="btn btn-outline btn-danger pull-right" href="{% url 'n:notification_mute_all' object.id %}">Apply "{{ object.notification_label}}" on previous alerts</a>
                </div>
                <div class="hr-line-dashed">
            {% endif %}
            </div>

                {% if object.notification_server %}
                    <p><span class="text-uppercase"> if Server in:  </span> <span
                            class="lead">{{ object.notification_server|parse_comma_seperated_list | safe }}</span></p>
                {% endif %}
                {% if object.notification_host_group|check_size %}
                    <p><span class="text-uppercase"> if Host Group in:  </span> <span
                            class="lead">{{ object.notification_host_group|parse_comma_seperated_list | safe }}</span></p>
                {% endif %}
                {% if object.notification_service|check_size %}
                    <p><span class="text-uppercase"> if Services in:  </span> <span
                            class="lead">{{ object.notification_service|parse_service_list | safe }}</span></p>
                {% endif %}
                {% if object.notification_type %}
                    <p><span class="text-uppercase">And monit alert Type in :  </span> <span
                            class="lead">{{ object.notification_type | parse_notification_type | safe }}</span></p>
                {% endif %}
                {% if object.notification_state %}
                    <p><span class="text-uppercase">And monit alert State in:  </span> <span
                            class="lead">{{ object.notification_state | parse_notification_state | safe }}</span></p>
                {% endif %}
                {% if object.notification_action %}
                    <p><span class="text-uppercase">And monit Action in :  </span> <span
                            class="lead">{{ object.notification_action | parse_notification_action | safe }}</span></p>
                {% endif %}

                {% if object.notification_message %}
                    <p><span class="text-uppercase">And monit messages matches :  </span> <span
                            class="lead"><h5><span class="label label-info">{{ object.notification_message }}</span>
                    </h5></span></p>
                {% endif %}

                {% if object.notification_class %}
                    <p><span class="text-uppercase">Apply Plugin Class :  </span> <span
                            class="lead"><h5><span class="label label-info">{{ object.notification_class }}</span>
                    </h5> </span>
                    </p>
                {% endif %}


                {% if object.notification_plugin_extra_params %}
                    <p><span class="text-uppercase"> Plugin extra parameters :  </span>
                    <span class="lead">
                            {{ object.notification_plugin_extra_params|extra_params|safe }}
                    </span>
                    </p>
                {% endif %}
                <p><span class="text-uppercase">Enabled :  </span> <span
                        class="lead"><h5>
                    {% if object.notification_enabled %}
                        <span class="label label-success">ON</span>
                    {% else %}
                        <span class="label label-danger">OFF</span>
                    {% endif %}
                </h5> </span></p>
<div class="hr-line-dashed"></div>
    <!-- Action buttons -->
    <div class="row">

        <div class="col-sm-12">
            <a class="btn btn-primary" href="{% url 'n:notificationtype_update' object.id %}">Update</a>
            <a class="btn btn-warning" href="{% url 'n:notificationtype_activation' object.id %}">{{object.notification_enabled|status_to_label}}</a>
            <a class="btn btn-danger pull-right" href="{% url 'n:notificationtype_delete'  object.id %}">Delete</a>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock content %}
{% block customjs %}

{% endblock customjs %}
