{% extends "base.html" %}
{% load static %}{% load i18n %}

{% load staticfiles %}
{% load extra_tags %}
{% load crispy_forms_tags %}
{% block page_title %} {% if object.id%} Update Notification <small class="text-navy"> {{ object.notification_label }}</small>{% else %} New Notification {% endif %}{% endblock %}


{% block content %}


            <form id="notification_type_form" class="forn-horizontal" method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <div id="extra_params_container"></div>
                <hr class="divider"/>
                <div class="control-group">
                    <div class="form-controls">
                        <button type="submit" class="btn">Create</button>
                    </div>
                </div>

            </form>


        <script language="javascript">
            // Submit post on submit
            $('#id_notification_class').on("change", function (event) {
                get_plugin_form($(this).val());
            });

            $(function(){
                 get_plugin_form($('#id_notification_class').val());
            })

        </script>

{% endblock content %}

{% block customjs %}
    <script src="{% static 'js/jquery.multiselect.js' %}"></script>

    <script language="JavaScript">

    $('#id_notification_service').multiSelect({});
    $('#id_notification_type').multiSelect({});
    $('#id_notification_action').multiSelect({});
    $('#id_notification_state').multiSelect({});


    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // AJAX for posting
    function get_plugin_form(plugin_name) {
        $.ajax({
            url: "{% url 'n:get_plugin_form' %}", // the endpoint
            type: "GET", // http method
            data: {"plugin_name": plugin_name,"notification_type_id" : $('#id_object_id').val() },
            success: function (json) {
                html_form = json.html_form
                $('#extra_params_container').html(html_form)
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                $('#extra_params_container').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    </script>
{% endblock customjs %}
