{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %} Manage Notifications {% endblock %}

{% load staticfiles %}
{% load extra_tags %}
{% load crispy_forms_tags %}



{% block content %}

    <div class="page-header">
        <h1> Manage Notifications
        </h1>
    </div>

    <div class="col-md-12 table-responsive">

        {% if object_list %}
            <table class="table table-hover table-hover table-striped table-bordered">
                <tr>
                    <th class="col-sm-3"><input type="checkbox" onClick="toggle(this)"></th>
                    <th class="col-sm-6">Notification Label</th>
                    <th class="col-sm-2">Created At</th>
                    <th class="col-sm-1">Status</th>
                </tr>

                {% for nt in object_list %}
                    <tr class="link" >
                        <td><input type="checkbox" name="delete_item">

                            <div class="btn-group pull-right" role="group" aria-label="...">
                                <button type="button" class="btn btn-xs btn-default" onclick="document.location = '{% url 'n:notificationtype_view' nt.id %}';" >View</button>
                                <button type="button" class="btn btn-xs btn-default" onclick="document.location = '{% url 'n:notificationtype_update' nt.id %}';">Update</button>
                                <button type="button" class="btn btn-xs btn-default" onclick="document.location = '{% url 'n:notificationtype_delete'  nt.id %}';">Delete</button>
                            </div>

                        </td>
                        <td>{{ nt.notification_label }}</td>
                        <td>{{ nt.created_at }}</td>
                        <td>{{ nt.notification_enabled|nt_status_to_label|safe }}</td>
                    </tr>
                {% endfor %}
            </table>

            <form class="form-horizontal" method="post" action="">
                {% csrf_token %}
                <div class="control-group">
                    <div class="form-controls">
                        <button type="submit" class="btn">Delete</button>
                    </div>
                </div>
            </form>
        {% else %}
        <div class="alert alert-info">
        No Configured Notifications Yet :)
        </div>
        {% endif %}

    </div>
    <script language="javascript">
        function toggle(source) {
            checkboxes = document.getElementsByName('delete_item');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
{% endblock content %}
