/*
 *
 *   SKIN 2 - INSPINIA - Responsive Admin Theme
 *   NAME - Inspinia Ultra
 *
*/
body.skin-2 {
    color: #1ABC9C !important;
    background-color: #1a2d41 !important;
}
.skin-2 .minimalize-styl-2 {
    margin: 14px 5px 5px 25px;
}
.skin-2 .navbar-top-links li:last-child {
    margin-right: 25px;
}
.skin-2 .spin-icon {
    background: #23c6c8 !important;
}
.skin-2 .nav-header {
    background: #23c6c8;
    background: url('patterns/header-profile-skin-2.png');
}
.skin-2.mini-navbar .nav-second-level {
    background: #2C3E50;
}
.skin-2 .breadcrumb {
    background: transparent;
}
.skin-2.fixed-nav .minimalize-styl-2 {
    margin: 14px 5px 5px 15px;
}
.skin-2 .page-heading {
    border: none;
    background: rgba(255, 255, 255, 0.7);
}
.skin-2 .nav > li.active {
    background: #7F8C8D;
}
.skin-2 .logo-element {
    padding: 17px 0;
}
.skin-2 .nav > li > a,
.skin-2 .welcome-message {
    color: #7F8C8D;
}
.skin-2 #top-search::-moz-placeholder {
    color: #7F8C8D;
    opacity: 0.5;
}
.skin-2 #side-menu > li > a,
.skin-2 .nav.nav-second-level > li > a {
    color: #586b7d;
}
.skin-2 .nav > li.active > a {
    color: #2C3E50;
}
.skin-2.mini-navbar .nav-header {
    background: #2C3E50;
}
.skin-2 .navbar-minimalize {
    background: #23c6c8;
    border-color: #23c6c8;
}
.skin-2 .border-bottom {
    border-bottom: none !important;
}
.skin-2 #top-search {
    color: #7F8C8D;
}
body.skin-2 #wrapper {
    background-color: #2C3E50;
}
.skin-2 .navbar-static-top {
    background: #2C3E50;
}
.fixed-nav.skin-2 .navbar-fixed-top {
    background: #2C3E50;
    border-bottom: none !important;
}
.skin-2 .nav-header {
    padding: 30px 25px 30px 25px;
}
.skin-2 .dashboard-header {
    background: #1ABC9C;
    border-bottom: none !important;
    border-top: none;
    padding: 20px 30px 20px 30px;
}
.skin-2 .wrapper-content {
    padding: 30px 15px;
}
.skin-2 .dashoard-1 .wrapper-content {
    padding: 0 30px 25px 30px;
}
.skin-2 .ibox-title {
    background: #1ABC9C;
    border: none;
    margin-bottom: 1px;
}
.skin-2 .ibox-content {
    background: rgba(255, 255, 255, 0.4);
    border: none !important;
}
.skin-2 #page-wrapper {
    background: #2C3E50;
    background: -webkit-radial-gradient(center, ellipse cover, #2C3E50 20%, #34495E 100%);
    background: -o-radial-gradient(center, ellipse cover, #2C3E50 20%, #34495E 100%);
    background: -ms-radial-gradient(center, ellipse cover, #2C3E50 20%, #34495E 100%);
    background: radial-gradient(ellipse at center, #2C3E50 20%, #34495E 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#d5d5d5)";
}

.skin-2 .ibox-title,
.skin-2 .ibox-content {
    border-width: 1px;
}
.skin-2 .ibox-content:last-child {
    border-style: solid solid solid solid;
}
.skin-2 .nav > li.active {
    border: none;
}
.skin-2 .nav-header a.dropdown-toggle {
    color: #2C3E50;
    margin-top: 10px;
}
.skin-2 .nav-header a.dropdown-toggle .text-muted {
    color: #2C3E50;
    opacity: 0.8;
}
.skin-2 .img-circle {
    border-radius: 10px;
}
.skin-2 .nav.navbar-top-links > li > a:hover,
.skin-2 .nav.navbar-top-links > li > a:focus {
    background: #1a2d41;
}
.skin-2 .navbar-default .nav > li > a:hover,
.skin-2 .navbar-default .nav > li > a:focus {
    background: #2C3E50;
    color: #1ABC9C;
}
.skin-2 .nav.nav-tabs > li.active > a {
    color: #1ABC9C;
}
.skin-2 .nav.nav-tabs > li.active {
    background: transparent;
}
