{% load tz %}
{% load  i18n %}



<footer id="footer">
   <span class="footer">  Copyright &copy; 2016 <b>{{APPNAME}}</b> v{{APPVERSION}} | Timezone : {{ CURRENT_TZ }}</span>


    <ul class="f-menu">
        <li><a href="">Home</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Contact</a></li>
        <li><a class="nav-link" href="{% url 'about' %}">{% trans "About" %}</a></li>
        <li class="text-right c-red">Made with <i class="fa fa-heart"></i> by Meher<li>
    </ul>
</footer>
