{% load  i18n %}
{% load extra_tags %}

<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        {% if request.user.is_authenticated %}
        <div class="navbar-header">
            <a id="collapsemenu" class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        {% endif %}


        <ul class="nav navbar-top-links navbar-right">

            {% if request.user.is_authenticated %}
                {% if not request.user.is_superuser %}
                        <li >
                            <a class="nav-link count-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i><span id="notification_count"></span></a>
                                <ul class="dropdown-menu dropdown-messages">

                                    <li>
                                        <div class="text-center link-block">
                                            <a  href="{% url 'ui:intellievent' %}">
                                                <i class="fa fa-bell"></i> <strong>View All Alerts</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                        </li>
                        <li >
                            |
                        </li>
                    {% if  request.user.organisation.server_set|get_server_len > 0 %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false"><i class="fa fa-server"></i> Servers / Instances <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for server in request.user.organisation.server_set.all %}
                                        <li><a href="{% url 'ui:server' server.id %}">{{ server.localhostname }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                    {% endif %}



                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false"><i class="fa fa-bell"></i>{% trans "Notifications Center" %}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'n:notificationtype_list' %}">{% trans "Manage Notifications" %}</a></li>
                                    <li><a href="{% url 'n:notificationtype_create' %}">{% trans "New Notification" %}</a></li>
                                </ul>
                            </li>

                    {% if request.user.organisation_manager %}
                            <li >
                                <a class="nav-link"
                                href="{% url 'ui:settings_update' request.user.organisation.settings.id %}"><i class="fa fa-wrench"></i>{% trans "Settings" %}</a>
                            </li>
                    {% endif %}

                {% endif %}
                        <li >
                        <a class="nav-link"
                            href="{% url 'users:detail' request.user.username %}"><i class="fa fa-user"></i> {{ request.user|title }}</a>
                        </li>
                        <li >
                            <a class="nav-link" href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> {% trans "Logout" %}</a>
                        </li>
            {% else %}
                        <li >
                            <a id="sign-up-link" class="nav-link"
                            href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                        </li>
                        <li >
                            <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                        </li>
            {% endif %}
                    <li >
                        <a class="nav-link" href="{% url 'about' %}">{% trans "About" %}</a>
                    </li>
                </ul>
            </nav>
        </div>
