{% extends "base_double_content.html" %}
{% load staticfiles %}
{% load i18n %}
{% load extra_tags %}
{% block title %}Dashboard{% endblock %}
{% block page_title1 %} {% if not request.user.is_superuser %} Event Dashboard {% else %} Superuser Mode{% endif %} {% endblock %}
{% block page_title2 %} {% if not request.user.is_superuser %} Server Dashboard {% else %} {% endif %} {% endblock %}
{% block css %}
<link href="{% static 'vendors/bower_components/chosen/chosen.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/ladda/ladda-themeless.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content1 %}
{% if request.user.is_authenticated %}
  {% if not request.user.is_superuser %}
    {% include "ui/includes/_widget_hide_show.html" with caption="New This Week" id="new_this_week" width="col-sm-8"  %}
    <div class="p-5" id="_events">

    </div>
    {% include "ui/includes/_end_widget.html" %}
          {% include "ui/includes/_widget.html" with caption="Events Per Hour" id="events_per_hour" theme="bgm-indigo"  width="col-sm-4" %}
          <div class="dynamicsparkline">

          </div>
          {% include "ui/includes/_end_widget.html" %}
  {% endif %}
{% endif %}
{% endblock %}

{% block content2 %}

{% if request.user.is_authenticated %}
  {% if not request.user.is_superuser %}

  {% include "ui/includes/_widget_hide_show.html" with caption="Filter" id="filter" width="col-sm-12"   %}
  <div class="col-md-6">
    <select  data-placeholder="Display Filter..."  class="chosen" multiple="">
      {% for hg in all_hgs %}

        <option value="{{hg.id}}" {% for user_hg in request.user.host_groups.all %}{%if user_hg.id == hg.id %} selected="selected" {% endif %} {% endfor %}>{{hg.slug}}</option>

      {% endfor %}
    </select>
    </div>
    <button class="ladda-button btn btn-default hec-button waves-effect"  data-style="zoom-in"><i class="fa fa-filter"></i></button>

    {% include "ui/includes/_end_widget.html" %}

    {% include "ui/includes/_widget.html" with caption="Registered Instances" width="col-sm-12"  %}


          <div id="dashboard_table" class="table-responsive ">
            {% if user_has_hgs %}
              <table class="table table-inner table-vmiddle" width="100%"  border="0" cellspacing="0" cellpadding="0">
                <thead>
                  <tr>
                    <th></th>
                    <th >{% trans 'Hostname' %}</th>
                    <th >{% trans 'Address' %}</th>
                    <th >{% trans 'Monit version' %}</th>
                    <th >{% trans 'Uptime' %}</th>
                    <th >{% trans 'Load avgerages' %}</th>
                    <th >{% trans 'CPU (user)' %}</th>
                    <th >{% trans 'Memory' %}</th>
                    <th >{% trans 'Last data received' %}</th>
                    <th class="text-center"><i class="fa fa-bell"></i></th>
                    <th class="text-center"><i class="fa fa-gears"></i></th>
                    <th class="text-center"><i class="fa fa-wrench"></i></th>
                  </tr>
                </thead>
                <tbody>
                  {% for hg in hgs %}
                    <tr>
                      <td colspan="12" class="td-hg">
                        <h5 class="capitalize"> Host Group : <span class="text-green">{{ hg }}</span></h5>
                      </td>
                    </tr>
                    {% for server in servers %}
                      {% if hg == server.host_group %}
                        {% if not monitoring_enabled  %}
                          {% include "ui/includes/_dashboard_server_row.html" %}
                        {% else %}
                          <tr>
                            <td></td>
                            <td>{{ server.localhostname }}</td>
                            <td>{{ server.address }}</td>
                            <td>{{ server.monit_version }}</td>
                            <td>{{ server.uptime|time_str }}</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><span class="label label-{{ server.system.date_last|time_class }}">{{ server.system.date_last|timestamp_to_date}} </span>
                            <td><span class="label label-danger"> New Server Detected</span></a></td>
                            <td>-</td>
                            <td><a class="btn btn-xs btn-primary" href="{% url 'ui:server_show' server.id %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></td>
                          </tr>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th></th>
                  <th>Hostname</th>
                  <th>Address</th>
                  <th>Monit version</th>
                  <th>Uptime</th>
                  <th>Load avgerages</th>
                  <th>CPU (user)</th>
                  <th>Memory</th>
                  <th>Last data received</th>
                  <th class="text-center"><i class="fa fa-bell"></i></th>
                  <th class="text-center"><i class="fa fa-gears"></i></th>
                  <th class="text-center"><i class="fa fa-wrench"></i></th>
                </tr>
                </tfoot>
              </table>
            {% else %}
              <div class="alert alert-info ">
                  {% trans " There are no instances configured Yet" %}
              </div>
            {% endif %}
          </div>
          <script>
          $(document).ready(function() {
             $('[data-toggle="tooltip"]').tooltip();

             $('.btn-toggle-info').click(function(e){
                  e.stopPropagation();
                  var target = $(this).attr("data-href")
                  var tr = $("#"+target)
                  var td = tr.children('td')
                  console.log(tr.css('height'))
                  console.log(tr.css('top'))
                  var div = td.children('div .server-data')
                  if(div.is(":hidden"))
                  {
                      $(this).children().removeClass('fa-arrow-circle-down');
                      $(this).children().addClass('fa-arrow-circle-up');
                      div.slideDown(100)
                  }else
                  {
                      $(this).children().removeClass('fa-arrow-circle-up');
                      $(this).children().addClass('fa-arrow-circle-down');
                      div.slideUp(100)
                  }
             })
          });
          </script>
      {% include "ui/includes/_end_widget.html" %}

    {%  if error %}
      <p class="alert alert-danger">{{ error }}</p>
    {% endif %}
  {% else %}
    <div class="alert alert-danger">{% trans "This is the superuser mode for managing organisations and users" %}</div>
  {% endif %}
{% endif %}
{% endblock %}
{% block javascript %}
<script src="{% static 'js/csrf.js'%}"></script>
<script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
<script src="{% static 'js/plugins/ladda/spin.min.js'%}"></script>
<script src="{% static 'js/plugins/ladda/ladda.min.js'%}"></script>
<script src="{% static 'js/plugins/ladda/ladda.jquery.min.js' %}"></script>
<script>
$(document).ready(function () {

  var l = $( '.ladda-button' ).ladda();
  l.click(function() {

    // Start loading
    l.ladda( 'start' );


    var chosen_hg = [];
    $('.chosen :selected').each(function(i, selected){
      chosen_hg[i] = $(selected).text();
    });

    $.ajax({
       url: "{% url 'ui:update_hgs' %}", // the endpoint
       type: "POST", // http method
       data: {
           user_hgs: JSON.stringify(chosen_hg)
       },
       // handle a successful response
       success: function(json) {
          $.post("{% url 'ui:load_dashboard_table' %}", function(data) {
            $( "#dashboard_table" ).replaceWith( data.table_html );
          });
           l.ladda('stop');

       },
       // handle a non-successful response
       error: function(xhr, errmsg, err) {
           l.ladda('stop');
           $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
               " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
           console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
       }
   });
  });

    var  sparkline_values = []

    $.ajax({
       url: "{% url 'ui:today_events' %}", // the endpoint
       type: "GET", // http method
       // handle a successful response
       success: function(values) {
          elm = $('.dynamicsparkline')
          var barWidth = Math.round((elm.width() - ( 24 - 1 ) * 1 ) / 24);
            $('.dynamicsparkline').sparkline(values, {
              type: 'bar',
              barColor: '#9E9E9E',
              barWidth: barWidth
            });
           sparkline_values = values
       },
       beforeSend: function (xhr, settings) {
          $('.dynamicsparkline').html('<div class="preloader pl-lg">\
              <svg class="pl-circular" viewBox="25 25 50 50">\
                  <circle class="plc-path" cx="50" cy="50" r="20"></circle>\
              </svg></div>')

          },
       // handle a non-successful response
       error: function(xhr, errmsg, err) {
           l.ladda('stop');
           $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
               " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
           console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
       }
   });



    $.ajax({
       url: "{% url 'ui:last_week_events' %}", // the endpoint
       type: "GET", // http method
       // handle a successful response
       success: function(html) {
         $("#_events").replaceWith(html);


       },
       beforeSend: function (xhr, settings) {
          $('#_events').html('<div class="preloader pl-xxl">\
              <svg class="pl-circular" viewBox="25 25 50 50">\
                  <circle class="plc-path" cx="50" cy="50" r="20"></circle>\
              </svg></div>')

          },
       // handle a non-successful response
       error: function(xhr, errmsg, err) {
           l.ladda('stop');
           $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
               " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
           console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
       }
   });

  var update_sparkline = function(){
      elm = $('.dynamicsparkline')
      var barWidth = Math.round((elm.width() - ( 24 - 1 ) * 1 ) / 24);
      $('.dynamicsparkline').sparkline(sparkline_values, {
          type: 'bar',
          barColor: '#9E9E9E',
          barWidth: barWidth
      });
    }

  update_sparkline()
   $(window).resize(function() {
      console.log(sparkline_values)
      update_sparkline()
  });

});


</script>
{% endblock %}
