{% extends "base.html" %}
{% load staticfiles %}
{% load extra_tags %}
{% load i18n %}
{% block page_title %}
 {% trans "Key Performance Indicators" %}  <br/> {% trans "Server" %}  : <strong class="c-red"> {{ server.localhostname }} </strong> <br/>
  {% trans "IP Address" %}  :  <strong class="c-red">{{ server.external_ip }}</strong>
  {% endblock %}

{% block submenu %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ui:server_alerts' server.id %}"><i class="fa fa-bell"></i>{% trans "Active Alerts" %} <span
    class="label {{ alerts_count|status_alert }} pull-right">{{ alerts_count }}</span></a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="{% url 'ui:server_kpis' server.id %}"><i class="fa fa-bar-chart"></i>{% trans "Key Performance Indicators" %} </a>
  </li>
{% endblock %}
{% block content %}
  <div class="row clearfix text-center">

<div id="periods" class="btn-group m-b-20 m-t-20" data-toggle="buttons">
  <label class="btn btn-primary">
    <input name="range_selector" type="radio" data-graph="-1hour" id="1h" autocomplete="off">{% trans " 1h" %}
  </label>
   <label class="btn   btn-primary">
    <input name="range_selector" type="radio" data-graph="-3hours" id="3h" autocomplete="off">{% trans " 3h" %}
  </label>
  <label class="btn  btn-primary active">
    <input name="range_selector" type="radio" data-graph="-24hours" id="1d" autocomplete="off">{% trans " 1d" %}
  </label>
  <label class="btn  btn-primary ">
    <input name="range_selector" type="radio" data-graph="-2days" id="2d" autocomplete="off"> {% trans "2d" %}
  </label>
   <label class="btn  btn-primary ">
    <input name="range_selector" type="radio" data-graph="-3days" id="3d" autocomplete="off"> {% trans "3d" %}
  </label>
  <label class="btn  btn-primary ">
    <input name="range_selector" type="radio" data-graph="-10days" id="10d" autocomplete="off"> {% trans "10d" %}
  </label>
  <label class="btn  btn-primary">
    <input name="range_selector" type="radio" data-graph="-1month" id="1m" autocomplete="off"> {% trans "1m" %}
  </label>
  <label class="btn  btn-primary">
    <input name="range_selector" type="radio" data-graph="-2months" id="2m" autocomplete="off"> {% trans "2m" %}
  </label>
       <label class="btn  btn-primary">
    <input name="range_selector" type="radio" data-graph="-1year" id="1y" autocomplete="off"> {% trans "1y" %}
  </label>
  <label class="btn  btn-primary">
    <input name="range_selector" type="radio" data-graph="-7years" id="max" autocomplete="off"> {% trans "max" %}
  </label>
</div>


</div>
  <div class="row clearfix m-t-10">

      {% include "ui/includes/_widget_hide_show.html" with caption="System Load" %}
        <div id="graph_load" class="graph" style="width:100%;"></div>
      {% include "ui/includes/_end_widget.html" %}

      {% include "ui/includes/_widget_hide_show.html" with caption="CPU Usage" %}
        <div id="graph_cpu" class="graph" style="width:100%;"></div>
      {% include "ui/includes/_end_widget.html" %}

      {% include "ui/includes/_widget_hide_show.html" with caption="Memory Usage" %}
        <div id="graph_mem" class="graph" style="width:100%;"></div>
      {% include "ui/includes/_end_widget.html" %}

<script type="text/javascript">

  $(function(){
    graphs = []
    $("input[name=range_selector]:radio").change(function() {
        from = $(this).attr("data-graph")
        done = false
        for (var i in graphs){
          g = graphs[i]
          g.update({from:from})
          console.log(g.name)
          g.pubsub.sub("DataReady", console.log("dataReady"))
          g.pubsub.sub("Done", console.log("Done"))
        }

    });


    var gs = []
       graphs.push($("#graph_load").dygraphite({
        target: [
          ['{{server.localhostname|normalize}}.system.load.avg01', 'Load 1 min'],
          ['{{server.localhostname|normalize}}.system.load.avg05','Load 5 min'],
          ['{{server.localhostname|normalize}}.system.load.avg15','Load 15 min'],
        ],
        from:"-24hours",
      },{
        ylabel : "%",
        sync: gs
      }))

      graphs.push($("#graph_cpu").dygraphite({
        target: [
          ['{{server.localhostname|normalize}}.system.cpu.user', 'User'],
          ['{{server.localhostname|normalize}}.system.cpu.system','System'],
          ['{{server.localhostname|normalize}}.system.cpu.wait','I/O Wait'],
        ],
        from:"-24hours"
      },{
        ylabel : "%",
        sync: gs
      }))

      graphs.push($("#graph_mem").dygraphite({
        target: [
          ['{{server.localhostname|normalize}}.system.memory.percent', 'Memory'],
          ['{{server.localhostname|normalize}}.system.swap.percent','Swap'],
        ],
        from:"-24hours"
      },{
            ylabel : "%",
            valueRange: [0,100],
            labelsKMB : false,
            sync: gs
      }))
  })
</script>

    {% for nic in server.net_set.all %}

    <div class="card">
        <div class="card-header ch-alt {{theme}}">
            <h4 class="capitalize"> Network Interface : <small> {{nic.name}}</small></h4>
        </div>

        <div class="card-body  card-padding">

            {% include "ui/includes/_widget.html" with caption="Network Packets" theme="" %}
          <div id="network_graph_packets_{{nic.name}}" class="graph" style="width:100%;">
          </div>
        {% include "ui/includes/_end_widget.html" %}
        {% include "ui/includes/_widget.html" with caption="Network Bytes" %}
          <div id="network_graph_bytes_{{nic.name}}" class="graph" style="width:100%;">
          </div>
        {% include "ui/includes/_end_widget.html" %}
        {% include "ui/includes/_widget.html" with caption="Network Errors" %}
          <div id="network_graph_errors_{{nic.name}}" class="graph" style="width:100%;">
          </div>
      {% include "ui/includes/_end_widget.html" %}

      {% include "ui/includes/_end_widget.html" %}

      <script type="text/javascript">
        $(function(){
        var gs = []

        graphs.push($("#network_graph_packets_{{nic.name}}").dygraphite({
            target: [
              ['{{server.localhostname|normalize}}.net.{{nic.name}}.download.packet', 'Download'],
              ['{{server.localhostname|normalize}}.net.{{nic.name}}.upload.packet','Upload'],
            ]
          },{
            ylabel : "Packets",
             sync: gs
          }))


         graphs.push($("#network_graph_bytes_{{nic.name}}").dygraphite({
            target: [
              ['{{server.localhostname|normalize}}.net.{{nic.name}}.download.bytes', 'Download'],
              ['{{server.localhostname|normalize}}.net.{{nic.name}}.upload.bytes','Upload'],
            ]
          },{
            ylabel : "Bytes",
             sync: gs
          }))


          graphs.push($("#network_graph_errors_{{nic.name}}").dygraphite({
            target: [
              ['{{server.localhostname|normalize}}.net.{{nic.name}}.download.errors', 'Download'],
              ['{{server.localhostname|normalize}}.net.{{nic.name}}.upload.errors','Upload'],
            ]
          },{
            ylabel : "Packets",
             sync: gs
          }))
        })
      </script>
    {% endfor %}

    <script type="text/javascript">
      Object.defineProperty(Number.prototype,'fileSize',{value:function(a,b,c,d){
 return (a=a?[1e3,'k','B']:[1024,'K','iB'],b=Math,c=b.log,
 d=c(this)/c(a[0])|0,this/b.pow(a[0],d)).toFixed(2)
 +' '+(d?(a[1]+'MGTPEZY')[--d]+a[2]:'Bytes');
},writable:false,enumerable:false});
    </script>
    {% for fs in server.filesystem_set.all %}

        <div class="card">
        <div class="card-header ch-alt {{theme}}">
            <h4 class="capitalize"> Filesystem : <small> {{fs.display_name}}</small></h4>
        </div>

        <div class="card-body  card-padding">

          {% include "ui/includes/_widget.html" with caption="Blocks Usage"  %}
            <div id="fs_graph_blocks_usage_{{fs.name}}" class="graph" style="width:100%;"></div>
            {% include "ui/includes/_end_widget.html" %}

            {% include "ui/includes/_widget.html" with caption="Blocks Percentage"  %}
              <div id="fs_graph_blocks_percent_{{fs.name}}" class="graph" style="width:100%;"></div>
            {% include "ui/includes/_end_widget.html" %}

            {% include "ui/includes/_widget.html" with caption="Inode Usage"  %}
              <div id="fs_graph_inode_usage_{{fs.name}}" class="graph" style="width:100%;"></div>
            {% include "ui/includes/_end_widget.html" %}

            {% include "ui/includes/_widget.html" with caption="Inode Usage"  %}
                <div id="fs_graph_inode_percent_{{fs.name}}" class="graph" style="width:100%;"></div>
            {% include "ui/includes/_end_widget.html" %}

      {% include "ui/includes/_end_widget.html" %}

   <script type="text/javascript">
        $(function(){
        var gs = []

         graphs.push($("#fs_graph_blocks_percent_{{fs.name}}").dygraphite({
            target: [
              ['{{server.localhostname|normalize}}.fs.{{fs.name}}.blocks_percent', 'Blocks %'],
            ]
          },{
            ylabel : "%",
            valueRange: [0,100],
            labelsKMB : false,
            sync: gs
          }))


         graphs.push($("#fs_graph_blocks_usage_{{fs.name}}").dygraphite({
            target: [
              ['{{server.localhostname|normalize}}.fs.{{fs.name}}.blocks_usage', 'Usage'],
            ]
          },{
            ylabel : "Blocks (1Block = 1MB) Total ("+({{fs.blocks_total}}*1024*1024).fileSize()+")",
            valueRange: [0,{{fs.blocks_total}}],
            sync: gs
          }))

         graphs.push($("#fs_graph_inode_percent_{{fs.name}}").dygraphite({
            target: [
              ['{{server.localhostname|normalize}}.fs.{{fs.name}}.inode_percent', 'Inodes %'],
            ]
          },{
            ylabel : "%",
            valueRange: [0,100],
            labelsKMB : false,
            sync: gs
          }))


         graphs.push($("#fs_graph_inode_usage_{{fs.name}}").dygraphite({
            target: [
              ['{{server.localhostname|normalize}}.fs.{{fs.name}}.inode_usage', 'Inodes'],
            ]
          },{
            ylabel : "Inodes",
            valueRange: [0,null],
            sync: gs
          }))
     });
      </script>
    {% endfor %}

</div>


    {% csrf_token %}
  {% endblock %}
  {% block javascript %}
    <script src="{% static 'js/dygraph-combined.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/synchronizer.js' %}"></script>
    <script src="{% static 'js/graphite.js' %}"></script>
    <script>
    $(function() {



    var hashTagActive = "";
    $(".scroll").click(function (event) {

        if(hashTagActive != this.hash) { //this will prevent if the user click several times the same link to freeze the scroll.
            event.preventDefault();
            //calculate destination place
            var dest = 0;
            if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
                dest = $(document).height() - $(window).height();
            } else {
                dest = $(this.hash).offset().top - 65;
            }
            //go to destination
            $('html,body').animate({
                scrollTop: dest
            }, 200, 'swing');
            hashTagActive = this.hash;
        }

    });

});

    </script>
  {% endblock javascript %}
