{% extends "base.html" %}
{% load staticfiles %}
{% load extra_tags %}
{% load i18n %}

{% block page_title %} Process : <strong class="c-red">{{process.name}}</strong> On <span class="c-red">{{ server.localhostname }}</span> IP : <strong class="c-red">{{ server.external_ip }}</strong> Server Uptime : <strong class="c-red">{{ server.uptime|time_str }}</strong>{% endblock %}



{% block content %}
    {% if process_found %}
    <div class="row clearfix text-center p-25">
        <div class="column col-md-3">
            <span class="item-label ">{% trans "name" %}:</span><span class="c-lime p-value">{{ process.name }}</span>
        </div>
        <div class="column col-md-3">
            <span class="item-label ">{% trans "status" %}:</span><span class="label label-{{ process.status|status_tr_class:process.monitor }} p-value">{{ process.status|status_to_string:process}}</span>
        </div>
        <div class="column col-md-3">
            <span class="item-label ">{% trans "uptime" %}:</span><span class="c-lime p-value">{{ process.uptime|time_str }}</span>
        </div>
        <div class="column col-md-3">
            <span class="item-label ">{% trans "children" %}:</span><span class="c-lime p-value">{% if process.children %}{{ process.children|format_number }}{% endif %}</span>
        </div>
    </div>
    <div class="row clearfix text-center p-25">
        <div class="column col-md-6">
            <span class="item-label ">{% trans "CPU total" %}:</span><span class="c-lime p-value">{{ process.cpu_percent_last|percent }}</span>
        </div>
        <div class="column col-md-6">
            <span class="item-label ">{% trans "memory total" %}:</span><span class="c-lime   p-value">{{ process.memory_percent_last|percent }} {% if process.memory_kilobyte_last %}[{{ process.memory_kilobyte_last|kb_formatting}}] {% endif %}</span>
        </div>
    </div>
          {% include "ui/includes/_widget.html" with caption="CPU Usage" html_id="cpu_graph" %}
                <div id="graph_cpu" class="graph" style="width:100%"></div>
          {% include "ui/includes/_end_widget.html" %}
          {% include "ui/includes/_widget.html" with caption="Memory Usage (%)" html_id="memory_usage" %}
                <div id="graph_mem" class="graph" style="width:100%"></div>
           {% include "ui/includes/_end_widget.html" %}
        {% include "ui/includes/_widget.html" with caption="Memory Usage (kb)" html_id="memory_usage_kb" %}
                <div id="graph_mem_kb" class="graph" style="width:100%"></div>
           {% include "ui/includes/_end_widget.html" %}
        <div class="row">
            <p class="helper"> Zoom: click-drag --- Pan: shift-click-drag --- Restore zoom level: double-click</p>
        </div>

    </div>
        <script src="{% static 'js/dygraph-combined.js' %}"></script>
        <script src="{% static 'js/synchronizer.js' %}"></script>
        <script src="{% static 'js/graphite.js' %}"></script>
        <script type="text/javascript">
        $(function(){
            var gs = []
            $("#graph_cpu").dygraphite({
                    target: [
                        ['{{server.localhostname|normalize}}.process.{{process.name}}.cpu_percent', 'CPU'],
                    ]
                    },{
                    ylabel : "%",
                    sync: gs
            });

            $("#graph_mem").dygraphite({
                    target: [
                        ['{{server.localhostname|normalize}}.process.{{process.name}}.memory_percent', 'Memory %'],
                    ]
                },{
                    ylabel : "%",
                    sync: gs
            });

            $("#graph_mem_kb").dygraphite({
                    target: [
                        ['{{server.localhostname|normalize}}.process.{{process.name}}.memory_kilobyte', 'Memory KB'],
                    ]
                },{
                    ylabel : "Bytes",
                    sync: gs
            });

         });
        </script>
                {% csrf_token %}
    {% else %}
        <div class="row clearfix">
            <div class="col-md-12 column">
                <p>Something went wrong. Process not found.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
