{% extends "base.html" %}
{% load staticfiles %}
{% load extra_tags %}

{% block page_header %}
    <div>
  <p><p> Monit <b>{{ server.monit_version }}</b> is running on server <b>{{ server.localhostname }}</b> (IP: <b>{{ server.address }}</b>) with uptime <b>{{ server.uptime|time_str }}</b></p>
  <small><cite><p>Platform: {{ server.platform.name }}, release: {{ server.platform.release }}, version: {{ server.platform.version }}, machine: {{ server.platform.machine }}, CPU: {{ server.platform.cpu }}, {{server.platform.memory|kb_formatting }} memory, {{ server.platform.swap|kb_formatting }} swap</p></cite></small>
</div>
{% endblock %}


{% block submenu %}

    <li class="nav-item">
        <a class="nav-link" href="{% url 'ui:server_alerts' server.id %}">Alerts <span class="label label-{{ alerts_count|status_alert }}">{{alerts_count }}</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'ui:server_show' server.id %}">Server Settings</a>
    </li>
{% endblock %}

{% block content %}


<div class="row clearfix">
  <div class="col-md-12 column">
    
    <div class="col-lg-4 col-md-6 column">
      <div id="graph_load" class="graph" style="width:100%;"></div>
    </div>
    <div class="col-lg-4 col-md-6 column">  
      <div id="graph_cpu" class="graph" style="width:100%;"></div>
    </div>
    <div class="col-lg-4 col-md-6 column">  
      <div id="graph_mem" class="graph" style="width:100%;"></div>
    </div>
    <small>Zoom: click-drag --- Pan: shift-click-drag --- Restore zoom level: double-click</small>
  </div>
</div> 

<div class="row clearfix marginTop">
  <div class="col-md-12 column">
      <h5>Processes</h5>
    <div id="server_table" class="table-responsive">
        {% include "ui/includes/server_table.html" %}
    </div>
  </div>
    <div class="col-md-12 column">
        <h5>Network</h5>
        <div id="server_table" class="table-responsive">
            {% include "ui/includes/net_table.html" %}
        </div>
    </div>

        <div class="col-md-12 column">
        <h5>FileSystem</h5>
        <div id="server_table" class="table-responsive">
            {% include "ui/includes/filesystem_table.html" %}
        </div>
    </div>

        <div class="col-md-12 column">
        <h5>Hosts</h5>
        <div id="server_table" class="table-responsive">
            {% include "ui/includes/host_table.html" %}
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
<script src="{% static 'js/dygraph-combined.js'%}"></script>
<script src="{% static 'js/csrf.js'%}"></script>
<script>
 $(document).ready(function () {
      var point_size = 1;
      var stroke_width = 2;
      var rollperiod=25;
      var draw_point = false;
      var isStacked= false;
      var errorbars=false;
      var graph_colors = ["#173e43", "#b56969", "#22264b", "#3fb0ac"];
      var update_period = 1000*{{monit_update_period}};
      var data_load = [];
      var dates = {{date_last}};
      var y1 = {{load_avg01}};
      var y2 = {{load_avg05}};
      var y3 = {{load_avg15}};
      for (i = 0; i < dates.length; i++)
	    data_load.push([new Date(dates[i]*1000.), y1[i], y2[i], y3[i]]);
      var graph_load = new Dygraph(document.getElementById("graph_load"), data_load,
                          {

                            rollPeriod: rollperiod,
                  			    legend: 'always', // show always
                  			    labelsDivWidth: '140', // default 250
                  			    labelsSeparateLines: true,
                  			    ylabel: 'Load average',
                  			    xlabel: 'Time',
                  			    drawPoints: draw_point,
                            errorBars : errorbars,
                  			    pointSize: point_size,
                  			    strokeWidth: stroke_width,
                            stackedGraph: isStacked,
                  			    //showRoller: true,  // for a rolling average over values
                  			    labels: ['Time', 'load 1 min', 'load 5 min', 'load 15 min'],
                  			    axisLabelColor: '#BBB',
                  			    axisLineColor: '#BBB',
                  			    colors: graph_colors ,
                            zoomCallback : function() { // (minDate, maxDate)
                                set_linewidth(graph_load, data_load); 
                            },
              });
      set_linewidth(graph_load, data_load); 

      var data_cpu = [];
      y1 = {{cpu_user}};
      y2 = {{cpu_system}};
      y3 = {{cpu_wait}};
      //var ymax = 1.2*Math.max.apply(null, y1);
      for (i = 0; i < dates.length; i++)
        data_cpu.push([new Date(dates[i]*1000.), y1[i], y2[i], y3[i]]);
      var graph_cpu = new Dygraph(document.getElementById("graph_cpu"), data_cpu,
              {
                  rollPeriod: rollperiod,
                  legend: 'always', // show always
                  labelsDivWidth: '140', // default 250
                  labelsSeparateLines: true,
                  ylabel: 'CPU usage (in %)',
                  xlabel: 'Time',
                  drawPoints: draw_point,
                  errorBars : errorbars,
                  pointSize: point_size,
                  strokeWidth: stroke_width,
                  stackedGraph: isStacked,
                  labels: ['Time', 'user', 'system', 'wait'],
                  axisLabelColor: '#CCC',
                  axisLineColor: '#CCC',
                  colors: graph_colors,
                  zoomCallback: function () { // (minDate, maxDate)
                      set_linewidth(graph_cpu, data_cpu);
                  },
                          });
      set_linewidth(graph_cpu, data_cpu); 
      var data_mem = [];
      y1 = {{memory_percent}};
      y2 = {{memory_kilobyte}};
      y3 = {{swap_percent}};
      var y4 = {{swap_kilobyte}};
      //var ymax = 1.2*Math.max.apply(null, y1);
      for (i = 0; i < dates.length; i++)
        data_mem.push([new Date(dates[i]*1000.), y1[i], y2[i]/1.e6, y3[i], y4[i]/1.e6]);
      var graph_mem = new Dygraph(document.getElementById("graph_mem"), data_mem,
              {
                  rollPeriod:rollperiod,
                  legend: 'always', // show always
                  labelsDivWidth: '140', // default 250
                  labelsSeparateLines: true,
                  ylabel: 'Memonry usage (in % or GB)',
                  xlabel: 'Time',
                  errorBars : errorbars,
                  drawPoints: draw_point,
                  pointSize: point_size,
                  strokeWidth: stroke_width,
                  stackedGraph: isStacked,
                  //showRoller: true,  // to average over values (?)
                  //valueRange: [0.0, ymax],
                  labels: ['Time', 'memory in %', 'memory in GB', 'swap in %', 'swap in GB'],
                  axisLabelColor: '#CCC',
                  axisLineColor: '#CCC',
                  colors: graph_colors,
                  zoomCallback: function () { // (minDate, maxDate)
                      set_linewidth(graph_mem, data_mem);
                  },
              });
      set_linewidth(graph_mem, data_mem); 
      window.intervalId = setInterval(function() {
			$.post("{% url 'ui:load_system_data' server.id %}", function(data) {
                
                if(data_cpu.length > 0){
                  var date_of_last_data_received = data_cpu[data_cpu.length-1][0]
                  var date_of_just_received_data = new Date(JSON.parse(data.date)*1000);
     
                  if (date_of_just_received_data>date_of_last_data_received) {
                 
                      data_load.push([date_of_just_received_data, JSON.parse(data.load_avg01), JSON.parse(data.load_avg05), JSON.parse(data.load_avg15)]);
                      graph_load.updateOptions( { 'file': data_load } );

                      data_cpu.push([date_of_just_received_data, JSON.parse(data.cpu_user), JSON.parse(data.cpu_system), JSON.parse(data.cpu_wait)]);
                      graph_cpu.updateOptions( { 'file': data_cpu } );
                  
                      data_mem.push([date_of_just_received_data, JSON.parse(data.memory_percent), JSON.parse(data.memory_kilobyte)/1.e6, JSON.parse(data.swap_percent), JSON.parse(data.swap_kilobyte)/1.e6]);
                      graph_mem.updateOptions( { 'file': data_mem } );
                      
                      $( "#server_table" ).replaceWith( data.table_html );
                  }  
                }

			});
      }, update_period);
      window.intervalId = setInterval(function() {
        $.post("{% url 'ui:load_system_table' server.id %}", function(data) {
            $( "#server_table" ).replaceWith( data.table_html );
        });
      }, update_period);
      
    // smaller points if the data array is too big
    function set_linewidth(graph ,data) {
        var range = graph.xAxisRange();
        var data_points = 0;
        for (var i = 0; i < data.length; i++) {
          var x = data[i][0];
          //if (x > minDate && x < maxDate)
          if (x > range[0] && x < range[1])
            data_points++;
        }
        var new_opts = {};
        if (data_points > 2000) {
            new_opts.pointSize = 0.5;
            new_opts.strokeWidth = 0.33;
        }
        else if (data_points > 900) {
            new_opts.pointSize = 1;
            new_opts.strokeWidth = 0.5;
        } else {
            new_opts.pointSize = 1.5;
            new_opts.strokeWidth = 1.;
        }
        graph.updateOptions(new_opts);
    }

});
</script>
{% csrf_token %}

{% endblock %}
