{% extends "base.html" %}
{% load staticfiles %}
{% load extra_tags %}
{% load i18n %}
{% block title %}{% trans "Server View" %} &middot; {{ server.localhostname }} {% endblock %}

{% block page_title %}  {% trans "Server View" %}  <br/>



  {% endblock %}

{% block submenu %}
{% url 'ui:server' server.id  as server_view %}

  <li class="sub-menu {% if request.path == server_view %} active {% endif %}">
    <a class="nav-link" href="{% url 'ui:server' server.id %}"><i class="fa fa-server"></i>{% trans "View Server" %} </a>

    <ul>

   {% if processes %}
        <li class="nav-item">
          <a class="nav-link scroll" href="#processes">{% trans 'Processes' %} <span class="label bgm-indigo pull-right">{{ processes|length  }}</span></a>

        </li>
      {%  endif %}

      {% if programs %}
        <li class="nav-item">
          <a class="nav-link scroll" href="#programs">{% trans 'Programs' %} <span class="label bgm-indigo pull-right">{{ programs|length  }}</span></a>
        </li>
      {% endif %}

      {% if filesystems %}
        <li class="nav-item">
          <a class="nav-link scroll" href="#filesystems">{% trans 'FileSystems' %} <span class="label bgm-indigo pull-right">{{ filesystems|length  }}</span></a>
        </li>
      {% endif %}

      {% if directories %}
        <li class="nav-item">
          <a class="nav-link scroll" href="#directories">{% trans ' Directories' %} <span class="label bgm-indigo pull-right">{{ directories|length  }}</span> </a>
        </li>
      {% endif %}

      {% if files %}
        <li class="nav-item">
          <a class="nav-link scroll" href="#files" >{% trans 'Files' %} <span class="label bgm-indigo pull-right">{{ files|length  }}</span></a>
        </li>
      {% endif %}

      {% if nets %}
        <li class="nav-item">
          <a class="nav-link scroll" href="#networks">{% trans 'Network' %} <span class="label bgm-indigo pull-right">{{ nets|length  }}</span></a>
        </li>
      {% endif %}

      {% if hosts %}
        <li class="nav-item">
          <a class="nav-link scroll" href="#hosts">{% trans 'Host' %} <span class="label bgm-indigo pull-right">{{ hosts|length  }}</span></a>
        </li>
      {% endif %}
        </ul>
        </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'ui:server_alerts' server.id %}"><i class="fa fa-bell"></i>Active Alerts <span
    class="label {{ alerts_count|status_alert }} pull-right">{{ alerts_count }}</span></a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="{% url 'ui:server_kpis' server.id %}"><i class="fa fa-bar-chart"></i> Key Performance Indicators</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'ui:server_show' server.id %}"><i class="fa fa-wrench"></i>  {% trans 'Server Settings' %} </a>
  </li>

{% endblock %}
{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% if old_data %}
<script type="text/javascript">
  console.log("OLD DATA");
</script>
{% endif %}


<div class="row">

        <div class="col-md-4 col-md-6 column">
            {% include "ui/includes/_widget.html" with caption="CPU Usage"  %}
            <div class="p-t-25 p-b-20 text-center">
                <div class="easy-pie  cpu-wait-chart" data-percent="{{server.system.cpu_wait_last}}">
                    <span class="percent">{{server.system.cpu_wait_last}}</span>
                    <div class="pie-title">Wait</div>
              </div>
                <span class="easy-pie cpu-user-chart" data-percent="{{server.system.cpu_user_last}}">
                    <span class="percent">{{server.system.cpu_user_last}}</span>
                    <div class="pie-title">User</div>
             </span>
                <div class="easy-pie  cpu-system-chart" data-percent="{{server.system.cpu_system_last}}">
                    <span class="percent">{{server.system.cpu_user_last}}</span>
                    <div class="pie-title">System</div>
               </div>
            </div>
            {% include "ui/includes/_end_widget.html" %}
        </div>
        <div class="col-md-4 col-md-6 column">
            {% include "ui/includes/_widget.html" with caption="Memory Usage" %}
                <div class="p-t-25 p-b-20 text-center">
                    <div class="easy-pie  memory-usage-chart" data-percent="{{server.system.memory_percent_last}}">
                        <span class="percent">{{server.system.memory_percent_last}}</span>
                        <div class="pie-title">Sytem Memory</div>
                  </div>
                    <div class="easy-pie  swap-usage-chart" data-percent="{{server.system.swap_percent_last}}">
                        <span class="percent">{{server.system.swap_percent_last}}</span>
                        <div class="pie-title">Swap</div>
                 </div>
            </div>
            {% include "ui/includes/_end_widget.html" %}
        </div>
        <div class="col-md-4 col-md-6 column">
            {% include "ui/includes/_widget.html" with caption="Disk Usage"  %}
                <div class="p-t-25 p-b-20 text-center">
                        <div class="easy-pie disk-usage-chart" data-percent="{{disk_usage}}">
                            <span class="percent">{{disk_usage}}</span>
                            <div class="pie-title">Space Usage</div>
                      </div>
                </div>
            {% include "ui/includes/_end_widget.html" %}
        </div>

</div>


<div class="row">
     <div class="col-md-4 col-md-6 column">
          {% include "ui/includes/_widget.html" with caption="Load" description="Last 15 minutes" %}
                <div id="graph_load" class="graph" style="width:100%;"></div>
           {% include "ui/includes/_end_widget.html" %}
      </div>

      <div class="col-md-4 col-md-6 column">
          {% include "ui/includes/_widget.html" with caption="CPU Usage" description="Last 15 minutes" %}
                <div id="graph_cpu" class="graph" style="width:100%;"></div>
          {% include "ui/includes/_end_widget.html" %}
      </div>
      <div class="col-md-4 col-md-6 column">
          {% include "ui/includes/_widget.html" with caption="Memory" description="Last 15 minutes" %}
                <div id="graph_mem" class="graph" style="width:100%;"></div>
          {% include "ui/includes/_end_widget.html" %}
      </div>
</div>

    {% if processes %}
          {% include "ui/includes/_widget.html" with caption="processes" html_id="processes" %}
            {% include "ui/includes/server_table.html" %}
          {% include "ui/includes/_end_widget.html" %}
      {%  endif %}

      {% if programs %}
          {% include "ui/includes/_widget.html" with caption="Programs"  html_id="programs" %}
            {% include "ui/includes/program_table.html" %}
          {% include "ui/includes/_end_widget.html" %}
      {% endif %}

      {% if filesystems %}
          {% include "ui/includes/_widget.html" with caption="Filesystems" description="Filesystems and Mount points" html_id="filesystems" %}
            {% include "ui/includes/filesystem_table.html" %}
          {% include "ui/includes/_end_widget.html" %}
      {% endif %}

      {% if directories %}
          {% include "ui/includes/_widget.html" with caption="Directories" html_id="directories" %}
            {% include "ui/includes/directory_table.html" %}
          {% include "ui/includes/_end_widget.html" %}
      {% endif %}

      {% if files %}
            {% include "ui/includes/_widget.html" with caption="Files" html_id="files" %}
                {% include "ui/includes/file_table.html" %}
            {% include "ui/includes/_end_widget.html" %}
      {% endif %}

      {% if nets %}
            {% include "ui/includes/_widget.html" with caption="Nets" description="Network Interfaces" html_id="networks" %}
                {% include "ui/includes/net_table.html" %}
            {% include "ui/includes/_end_widget.html" %}
      {% endif %}

      {% if hosts %}
            {% include "ui/includes/_widget.html" with caption="Hosts" description=""  html_id="hosts" %}
                {% include "ui/includes/host_table.html" %}
            {% include "ui/includes/_end_widget.html" %}
      {% endif %}
    {% csrf_token %}
  {% endblock %}
  {% block javascript %}
    <script src="{% static 'js/dygraph-combined.js' ç%}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/synchronizer.js' %}"></script>
    <script src="{% static 'js/graphite.js' %}"></script>
    <script>
    $(function() {


      var cpu_system_chart = $('.cpu-system-chart')
      var cpu_wait_chart   = $('.cpu-wait-chart')
      var cpu_user_chart   = $('.cpu-user-chart')
      var memory_usage_chart   = $('.memory-usage-chart')
      var swap_usage_chart     = $('.swap-usage-chart')
      var disk_usage_chart   = $('.disk-usage-chart')

      $(".easy-pie").easyPieChart({
        easing: 'easeOutBounce',
        barColor: '#F44336',
        animate : 1500,
        trackColor: false,
        //scaleColor: false,
        onStep: function(from, to, percent) {
            var rounded = Math.round( percent * 10 ) / 10;
            $(this.el).find('.percent').text(rounded);
        }
      });

      var gs = []

     $("#graph_load").dygraphite({
        target: [
          ['{{server.localhostname|normalize}}.system.load.avg01', 'Load 1 min'],
          ['{{server.localhostname|normalize}}.system.load.avg05','Load 5 min'],
          ['{{server.localhostname|normalize}}.system.load.avg15','Load 15 min'],
        ],
        from:"-30mins"
      },{
        ylabel : "%",
        sync: gs
      });

     $("#graph_cpu").dygraphite({
        target: [
          ['{{server.localhostname|normalize}}.system.cpu.user', 'User'],
          ['{{server.localhostname|normalize}}.system.cpu.system','System'],
          ['{{server.localhostname|normalize}}.system.cpu.wait','I/O Wait'],
        ],
        from:"-30mins",
      },{
        ylabel : "%",
        sync: gs,

      });

      $("#graph_mem").dygraphite({
        target: [
          ['{{server.localhostname|normalize}}.system.memory.percent', 'Memory'],
          ['{{server.localhostname|normalize}}.system.swap.percent','Swap'],
        ],
        from:"-30mins",
      },{
            ylabel : "%",
            valueRange: [0,100],
            labelsKMB : false,
            sync: gs
      });


    var socket = io('/{{ server.id|clean }}');
    socket.on('dmc', function(msg) {
        var data = msg.data;
        if (null != data.cpu_wait_last) {
            cpu_system_chart.data('easyPieChart').update(data.cpu_system_last);
            cpu_wait_chart.data('easyPieChart').update(data.cpu_wait_last);
            cpu_user_chart.data('easyPieChart').update(data.cpu_user_last);
            memory_usage_chart.data('easyPieChart').update(data.memory_percent_last);
            //TODO : Swap space missing
        }
        if (null != data.fs_blocks_percent_last) {
                disk_usage_chart.data('easyPieChart').update(data.fs_blocks_percent_last);
            }
        }
    );



});

  var hashTagActive = "";
    $(".scroll").click(function (event) {
        if(hashTagActive != this.hash) { //this will prevent if the user click several times the same link to freeze the scroll.
            event.preventDefault();
            //calculate destination place
            var dest = 0;
            if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
                dest = $(document).height() - $(window).height();
            } else {
                dest = $(this.hash).offset().top - 65;
            }
            //go to destination
            $('html,body').animate({
                scrollTop: dest
            }, 200, 'swing');
            hashTagActive = this.hash;
        }
    });

    </script>
    <script src="{% static 'js/server.js' %}"></script>
  {% endblock javascript %}
