{% extends "ui/server.html" %}
{% load static %}
{% load i18n %}

{% load extra_tags %}
{% block title %}Server {{ server.localhostname }} {% endblock %}
{% block page_title %} Last Events For : <small class="text-navy">{{ server.localhostname }} </small>{% endblock %}

{% block content %}
<style type="text/css" media="print">
   .no-print { display: none; }
</style>
            <div class="box float-e-margins">
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="event_table">
                            <thead>
                                <tr>
                                    <th>Message</th>
                                    <th>Date </th>
                                    <th>Event</th>
                                    <th>Type</th>
                                    <th>Monit Action</th>
                                    <th>Acknowledge</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for monit_event in object_list %}
                                        <tr id="tr-{{ monit_event.id }}">
                                            <td>{{ monit_event.event_message }}</td>
                                            <td>{{ monit_event.event_time }}</td>
                                            <td><b>{{ monit_event.event_id|event_status_to_string }}</b> : <b>{{ monit_event.event_state|event_state_to_string }}</b></td>
                                            <td>{{ monit_event.event_type|type_to_string }}: <b>{{ monit_event.service}} </b></td>
                                            <td>{{ monit_event.event_action|action_to_string }}</td>
                                            <td>
                                                <button type="button no-print" id="ack-{{ monit_event.id }}" data-id="{{ monit_event.id }}"
                                                class="btn btn-xs btn-{{ monit_event.event_state|event_state_to_style }}"><i class="fa fa-check"></i>
                                                </button>
                                        </td>
                                    </tr>
                                    <script language="javascript">
                                    // Submit post on submit
                                    $('#ack-{{ monit_event.id }}').on("click", function (event) {
                                    ack({{ monit_event.id }});
                                    return false
                                    });
                                    </script>
                                {% endfor %}
                            </tbody>
                                                   <tfoot>
                                <tr>
                                    <th>Message</th>
                                    <th>Date </th>
                                    <th>Event</th>
                                    <th>Type</th>
                                    <th>Monit Action</th>
                                    <th>Operations</th>
                                    </tr>
                                </tfoot>
                        </table>
                    </div>
                </div>
            </div>

{% endblock %}
{% block customjs %}

 <script type="text/javascript">


    $(document).ready(function() {
        $('#event_table').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .css('font-size', 'inherit');
                    }
                    }
                ],
                "order": [[ 1, "desc" ]]

            });
    });

    function getCookie(name) {
         var cookieValue = null;
         if (document.cookie && document.cookie != '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
                 var cookie = jQuery.trim(cookies[i]);
                 // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
     }
     var csrftoken = getCookie('csrftoken');

     function csrfSafeMethod(method) {
         // these HTTP methods do not require CSRF protection
         return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
     }
     $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                 xhr.setRequestHeader("X-CSRFToken", csrftoken);
             }
         }
     });
     // AJAX for posting
     var ack = function(event_id) {
         $.ajax({
             url: "{% url 'ui:ack_event' %}", // the endpoint
             type: "POST", // http method
             data: {
                 "event_id": event_id
             },
             // handle a successful response
             success: function(json) {
                 event_id = json.event_id
                 element_selector = "#tr-" + event_id
                 $(element_selector).fadeOut(150)
             },
             // handle a non-successful response
             error: function(xhr, errmsg, err) {
                 $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                     " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
             }
         });
     };
     console.log("Loaded")
        </script>
    {% endblock customjs %}
