{% extends "base.html" %}
{% load static %}
{% load extra_tags %}
{% block title %}Server: {{ object.localhostname }}{% endblock %}
{% block page_title %} Server Details <small class="">{{ object.localhostname }} </small>{% endblock %}
{% block content %}
  {% include "ui/includes/_widget.html" with caption="Server settings / Details"  %}

  <div class="row">
    <div class="box">
      <div class="box-content">
        {% if object.external_ip %}
          <p><span class="text-uppercase"> External IP :  </span> <span class="lead c-lime">{{ object.external_ip }}</span></p>
        {% endif %}
        {% if object.address %}
          <p><span class="text-uppercase"> Monit Binding IP Address :  </span> <span class="lead c-lime">{{ object.address }}</span></p>
        {% endif %}
        {% if object.monit_id %}
          <p><span class="text-uppercase"> Monit ID : </span> <span class="lead c-lime"> {{ object.monit_id }}</span>
        </p>
      {% endif %}
      {% if object.address %}
        <p><span class="text-uppercase"> UP Time :  </span> <span class="lead c-lime">{{ object.uptime|time_str }}</span></p>
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="box">
    <h4 class="box-title text-uppercase"> Monit Parameters</h4>
    <div class="box-content">
      {% if object.http_address %}
        <p><span class="text-uppercase"> HTTP Address : </span> <span
        class="lead"> <a target="_blank" href="{{ object.http_address }}">{{ object.http_address }}</a></span></p>
      {% endif %}
      {% if object.http_username %}
        <p><span class="text-uppercase"> Monit Username : </span> <span class="lead c-lime"> {{ object.http_username }}</span></p>
      {% endif %}
      {% if object.http_password %}
        <p><span class="text-uppercase"> Monit Password : </span> <span class="lead c-lime">{{ object.http_password }}</span></p>
      {% endif %}
      {% if object.monit_update_period %}
        <p><span class="text-uppercase"> Monit Update Period : </span> <span class="lead c-lime"> {{ object.monit_update_period }}</span></p>
      {% endif %}
      {% if object.data_timezone %}
        <p><span class="text-uppercase"> TimeZone : </span> <span class="lead c-lime"> {{ object.data_timezone }}</span></p>
      {% endif %}
      {% if not request.user.organisation.settings.general_auto_add_unknown_servers %}
        <hr class="hr-line-dashed"></hr>
        <p><span class="text-uppercase"> Monitoring Disabled :  </span> <span class="lead c-lime">{{ object.disable_monitoring }}* </span>
        {%  endif %}
      </p>
    </div>
  </div>
</div>
        {% include "ui/includes/_end_widget.html" %}
        {% include "ui/includes/_widget_buttonbar.html" %}
        <div class="row">
            <div class="control-group">
                <div class="form-controls">
                     <a class="btn btn-primary" href="{% url 'ui:server_update' object.id %}">Update</a>
      <a class="btn btn-danger pull-right" href="{% url 'ui:server_delete' object.id %}">Delete</a>
                </div>
            </div>
        </div>
        {% include "ui/includes/_end_widget.html" %}
    </form>
{% endblock content %}

