{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ organisation.name }}{% endblock %}

{% block content %}
    <div class="container">

<div class="row clearfix">

        <div class="page-header">
            {% if object.id %}<h1>{{ organisation.name|title }}</h1> {% else %}<h1>New Organisation</h1>{% endif %}
        </div>

    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">{% if object.id %}Update{% else %}New{% endif %}
</button>
          </div>
        </div>
    </form>

</div>
</div>
{% endblock %}

