{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Organisations{% endblock %}
{% block page_title %} Organisations List {% endblock %}

{% block content %}
    <div class="row clearfix">
    <table class="table table-hover table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th> Organisation Name</th>
            <th> Is Active</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
        {% for organisation in organisation_list %}
            <tr>
            <td>
            <a href="{% url 'datacollector:update_organisation' organisation.id %}" >
            {{ organisation.name }}</a>
            </td>
            <td></td>
            <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
