{% extends "base.html" %}
{% load crispy_forms_tags %}
{%  load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load extra_tags %}
{% block page_title %} {% trans 'Organisation Settings' %} {% endblock %}

{% block css %}
    <link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/bootstrap-taginput.css' %}" rel="stylesheet">
    <link href="{% static 'css/multiselect.css' %}" rel="stylesheet">
    <style type="text/css">
        .keys_ul {
          list-style-type: none;
        }
        .help-block{
          font-size: 0.7em;
        }
          .errorlist > li{
          list-style: none;
        }

        .has-error > label  {
          color: #f6675d;
        }
        .transiant {
          -webkit-transition: background-color .30s cubic-bezier(.4,0,.2,1);
          transition: background-color .30s cubic-bezier(.4,0,.2,1);
        }
        .toggle-switch > label {
            display: inline-block;
            margin: 0 20px 0 0;
            vertical-align: top;
            -webkit-transition: color .56s cubic-bezier(.4,0,.2,1);
            transition: color .56s cubic-bezier(.4,0,.2,1);
        }
    </style>
{% endblock %}

{% block content %}
        {% include "ui/includes/_widget.html" with caption="Settings" %}

        <div class="row">
            <div class="col-md-8">
                    <div role="tabpanel" class="tab">
                        <!-- Nav tabs -->
                        <ul class="tab-nav" role="tablist">
                            <li role="presentation" class="active"><a href="#general_tab" aria-controls="general_tab" role="tab" data-toggle="tab">General</a></li>
                            <li role="presentation"><a href="#collector_key_tab" aria-controls="collector_key_tab" role="tab" data-toggle="tab">Collector Keys</a></li>
                            <li role="presentation"><a href="#api_tab" aria-controls="snmp_tab" role="tab" data-toggle="tab">API Settings</a></li>
                            <li role="presentation"><a href="#snmp_tab" aria-controls="snmp_tab" role="tab" data-toggle="tab">SNMP Settings</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="general_tab">
                                <div class="row container top-buffer">
                                    <form class="form-horizontal" method="post">
                                        {% csrf_token %}
                                        <div class="box float-e-margins">
                                            <div class="box-title">
                                                <h2>{% trans "General" %}</h2>
                                            </div>
                                            <div class="box-content">
                                                <div class="form-group {% if form.general_auto_add_unknown_servers.errors %} has-error{% endif %}">
                                                    <div class="row ">
                                                        <div class="col-md-4 control-label">
                                                          {{ form.general_auto_add_unknown_servers.label_tag }}
                                                        </div>
                                                        <div class="col-md-4 p-t-10 toggle-switch toggle-switch-demo" data-ts-color="red">
                                                            {{ form.general_auto_add_unknown_servers|add_class:"form-control" }}
                                                            <label for="ts5" class="ts-helper"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group {% if form.general_default_timezone_for_servers.errors %} has-error{% endif %}">
                                                    <div class="row">
                                                        <div class="col-md-4 control-label">
                                                            {{ form.general_default_timezone_for_servers.label_tag }}
                                                        </div>
                                                        <div class="col-md-4">
                                                            {{ form.general_default_timezone_for_servers|add_class:"form-control chosen" }}
                                                        </div>
                                                        {% if form.name.errors %}
                                                            <div class="col-md-4 error">
                                                                {{ form.general_default_timezone_for_servers.errors }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="box float-e-margins">
                                            <div class="box-title">
                                                <h2>Flapping Configuration</h2>
                                            </div>
                                            <div class="box-content">

                                                <div class="form-group {% if form.flapping_threshold.errors %} has-error{% endif %}">
                                                    <div class="row">
                                                        <div class="col-md-4 control-label">
                                                            {{ form.flapping_threshold.label_tag }}
                                                        </div>
                                                        <div class="col-md-4">
                                                            {{ form.flapping_threshold|add_class:"form-control fg-line" }}
                                                        </div>
                                                        {% if form.name.errors %}
                                                            <div class="col-md-4 error">
                                                                {{ form.flapping_threshold.errors }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group {% if form.flapping_time_window.errors %} has-error{% endif %}">
                                                    <div class="row">
                                                        <div class="col-md-4 control-label">
                                                            {{ form.flapping_time_window.label_tag }}
                                                        </div>
                                                        <div class="col-md-4">
                                                            {{ form.flapping_time_window|add_class:"form-control" }}
                                                        </div>
                                                        {% if form.flapping_time_window.errors %}
                                                            <div class="col-md-4 error">
                                                                {{ form.flapping_time_window.errors }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>

                                            <div class="control-group">
                                                <div class="controls">
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </div>
                                            </div>
                                    </form>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="collector_key_tab">
                                <div class="row container m-t-25">

                                    <div class="col-sm-12">

                                        <p>Before Configuring your monit you must create at least one Collector Key <br/>
                                        set your mmonit url to : {{base_url}}/dc/collector/COLLECTOR_KEY/[HOST_GROUP/]</p>
                                        <p>HOST_GROUP : Optional</p>

                                            <div class="row m-t-10">

                                                <div class="col-sm-12 ">
                                             <h2 class="text-navy">{% trans "M/Monit URL" %}</h2>

                                                <div class="input-group m-b "><span class="input-group-btn">
                                                        <button data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy mmonit URL to Clipboard" type="button" class="btn btn-primary copy-to-clipboard"><i class="fa fa-clipboard"></i></button> </span> <input type="text" id="mmonit_url" placeholder="Click on The Use button to generate a mmonit url" class="form-control p-l-10 fg-line">
                                                    </div>
                                                </div>
                                            </div>

                                             <div class="hr-line-dashed"></div>
                                             <h2 class="text-navy">{% trans "Collector Keys" %}</h2>


                                            <div class="row ">

                                                <div class="col-sm-12 ">
                                                    <button class="btn btn-primary" id="new_key" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="New" >{% trans 'New Collector Key' %}</button>
                                                </div>
                                            </div>
                                            <div class="row m-t-10">

                                            <ul id="collector_keys_ul" class="keys_ul">

                                            </ul>
                                            </div>

                                                <div class="row">
                                                    <div id="result"></div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            <div role="tabpanel" class="tab-pane" id="snmp_tab">
                                <div class="row container top-buffer">

                                <h2>{% trans "SNMP Settings" %}</h2>
                                <h2>{% trans "Slack API Token" %}</h2>
                                <h2>{% trans "Twillio API Token" %}</h2>

                                  </div>
                            </div>
                               <div role="tabpanel" class="tab-pane" id="api_tab">
                          <div class="row container m-t-25">

                                    <div class="col-sm-12">

                                        <p>The api keys gives you access to the {{APPNAME}} API v{{APIVERSION}}<br/>
                                        Please check the api documentation for the available methods</p>

                                        <p class="m-t-10 m-b-10">{{base_url}}/api/v{{APIVERSION}}/</p>
                                             <div class="hr-line-dashed"></div>
                                             <h2 class="text-navy">{% trans "API Keys" %}</h2>


                                            <div class="row ">

                                                <div class="col-sm-12 ">
                                                    <button class="btn btn-primary" id="new_api_key" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="New" >{% trans 'New API Key' %}</button>
                                                </div>
                                            </div>
                                            <div class="row m-t-10">

                                            <ul id="api_keys_ul" class="keys_ul">

                                            </ul>
                                            </div>

                                                <div class="row">
                                                    <div id="result_api_key"></div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
        {% include "ui/includes/_end_widget.html" %}

{% endblock %}
{% block javascript %}
<script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script type="text/javascript">
          $(document).ready(function() {
            create_collector_key(false);
            create_api_key(false);

            $('.tab-link').click(function(){
                tab_selector = $(this).attr("href")
                console.log($(tab_selector))
                $(tab_selector).tab('show')
            })

            $('.copy-to-clipboard').click(function(){
              copyTextToClipboard($('#mmonit_url').val())
            })

          })

        function copyTextToClipboard(text) {
          var textArea = document.createElement("textarea");

          //
          // *** This styling is an extra step which is likely not required. ***
          //
          // Why is it here? To ensure:
          // 1. the element is able to have focus and selection.
          // 2. if element was to flash render it has minimal visual impact.
          // 3. less flakyness with selection and copying which **might** occur if
          //    the textarea element is not visible.
          //
          // The likelihood is the element won't even render, not even a flash,
          // so some of these are just precautions. However in IE the element
          // is visible whilst the popup box asking the user for permission for
          // the web page to copy to the clipboard.
          //

          // Place in top-left corner of screen regardless of scroll position.
          textArea.style.position = 'fixed';
          textArea.style.top = 0;
          textArea.style.left = 0;

          // Ensure it has a small width and height. Setting to 1px / 1em
          // doesn't work as this gives a negative w/h on some browsers.
          textArea.style.width = '2em';
          textArea.style.height = '2em';

          // We don't need padding, reducing the size if it does flash render.
          textArea.style.padding = 0;

          // Clean up any borders.
          textArea.style.border = 'none';
          textArea.style.outline = 'none';
          textArea.style.boxShadow = 'none';

          // Avoid flash of white box if rendered for any reason.
          textArea.style.background = 'transparent';


          textArea.value = text;

          document.body.appendChild(textArea);

          textArea.select();

          try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
          } catch (err) {
            console.log('Oops, unable to copy');
          }

          document.body.removeChild(textArea);
        }

          var use=function(btn){
            var collector_key=$(btn).attr("data-key");
            var url = "{{base_url}}";
            $("#mmonit_url").val(url+"/dc/collector/"+collector_key+"/")
          }

          var delete_api_key=function(btn){
               var api_key=$(btn).attr("data-key")
                    swal({
                        title: "Are you sure?",
                        text: "Your will not be able to perform any api call using this API Key",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes",
                        cancelButtonText: "Cancel",
                        closeOnConfirm: false,
                        closeOnCancel: true
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                 $.ajax({
                                      url: "{% url 'users:delete_api_key' %}", // the endpoint
                                      type: "POST", // http method
                                      data: {
                                          "apikey": api_key
                                      },
                                      // handle a successful response
                                      success: function(json) {
                                        if(json.status == "OK"){
                                           $("#"+json.apikey).fadeOut()
                                           swal("Deleted!", "The API Key has been deleted.", "success");
                                        }
                                      },
                                      // handle a non-successful response
                                      error: function(xhr, errmsg, err) {
                                          $('#result_api_key').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                                              " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                                          console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                      }
                                    });

                            }
                        });
          }

          var delete_key=function(btn){
               var collector_key=$(btn).attr("data-key")
                    swal({
                        title: "Are you sure?",
                        text: "Your will not be able to push data to the collector with servers using this CK",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes",
                        cancelButtonText: "Cancel",
                        closeOnConfirm: false,
                        closeOnCancel: true
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                 $.ajax({
                                      url: "{% url 'users:delete_collector_key' %}", // the endpoint
                                      type: "POST", // http method
                                      data: {
                                          "ck": collector_key
                                      },
                                      // handle a successful response
                                      success: function(json) {
                                        if(json.status == "OK"){
                                           $("#"+json.ck).fadeOut()
                                           $("#mmonit_url").val("")
                                           swal("Deleted!", "The CK has been deleted.", "success");
                                        }
                                      },
                                      // handle a non-successful response
                                      error: function(xhr, errmsg, err) {
                                          $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                                              " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                                          console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                      }
                                    });

                            }
                        });
          }

          // Submit post on submit
          $('#new_key').on("click", function(event) {
              create_collector_key(true);
          });
          // Submit post on submit
          $('#new_api_key').on("click", function(event) {
              create_api_key(true);
          });

          // AJAX for posting
          function create(url, target, create) {
              $.ajax({
                  url : url, // the endpoint
                  type: "POST", // http method
                  data: {
                      "create": create
                  },
                  // handle a successful response
                  success: function(json) {
                      $(target).html(json.data); // log the returned json to the console
                  },

                  // handle a non-successful response
                  error: function(xhr, errmsg, err) {
                      $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                          " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                      console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                  }
              });
          };


          function create_collector_key(new_key) {
              create('{% url "users:new_collector_key" %}',"#collector_keys_ul",new_key)
          };

          // AJAX for posting
          function create_api_key(new_key) {
              create('{% url "users:new_api_key" %}',"#api_keys_ul",new_key)
          };


          function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) == (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          var csrftoken = getCookie('csrftoken');

          function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });

    </script>
{% endblock javascript %}
