


{% extends "base.html" %}
{% load static %}
{% load extra_tags %}

{% block title %}Delete {{ object.username }}{% endblock %}
{% block page_title %} Delete
                <small>{{ object.username }}</small> {% endblock %}

{% block content %}
    <div class="row clearfix">
        <form action="" method="post">{% csrf_token %}

            <div class="row">
                <p>Are you sure you want to delete "{{ object.username }}"?</p>
            </div>
            <hr class="divider"/>
            <div class="row">
                <div class="control-group">
                    <div class="form-controls">
                        <input type="submit" value="Confirm" class="btn btn-danger"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

