{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% block page_title %} {% if object.id %} Update User <small>{{ object.username|title }}</small>{% else %}{% trans 'Create New ' %}{% endif %}{% endblock %}
{% block title %}{% if object.id %}{{ object.username|title }}{% else %}{% trans 'New' %}{% endif %}{% endblock %}

{% block css %}
<style>
    .errorlist > li{
        list-style: none;
    }
    .has-error > label  {
        color: #f6675d;
    }
    .toggle-switch > label {
        display: inline-block;
        margin: 0 20px 0 0;
        vertical-align: top;
        -webkit-transition: color .56s cubic-bezier(.4,0,.2,1);
        transition: color .56s cubic-bezier(.4,0,.2,1);
    }
</style>
{% endblock %}
{% block content %}
<form class="form" method="post" action="">
    <div class="card">
        <div class="card-header ch-alt ">
            <h4 class="capitalize" id="card_header"> </h4>
            {% if not object.id %}
                <small>{% trans 'Create New User In ' %} {{ request.user.organisation.name|title}} </small>
            {% endif %}
        </div>
        <div class="card-body  card-padding">
            <div class="row">
                <div class="col-md-5">
                    {% csrf_token %}
                    {% if not object.id %}
                        <div class="form-group fg-line {% if form.username.errors %} has-error {% endif %}">
                        {{ form.username.label_tag }}
                        {{ form.username|add_class:"form-control" }}
                        {% if form.username.errors %}
                            <small class="help-block">{{ form.username.errors }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group fg-line {% if form.password1.errors %} has-error {% endif %}">
                    {{ form.password1.label_tag }}
                    {{ form.password1|add_class:"form-control" }}
                    {% if form.password1.errors %}
                        <small class="help-block">
                        {{ form.password1.errors }}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group fg-line {% if form.password2.errors %} has-error {% endif %}">
                {{ form.password2.label_tag }}
                {{ form.password2|add_class:"form-control" }}
                {% if form.password2.errors %}
                    <small class="help-block">
                    {{ form.password2.errors }}
                    </small>
                {% endif %}
            </div>
            <div class="form-group fg-line {% if form.email.errors %} has-error {% endif %}">
            {{ form.email.label_tag }}
            {{ form.email|add_class:"form-control" }}
            {% if form.email.errors %}
                <small class="help-block">
                {{ form.email.errors }}
                </small>
            {% endif %}
        </div>
    {% endif %}
    <div class="form-group fg-line {% if form.first_name.errors %} has-error {% endif %}">
        {{ form.first_name.label_tag }}
        {{ form.first_name|add_class:"form-control" }}
        {% if form.first_name.errors %}
            <small class="help-block">
                {{ form.first_name.errors }}
            </small>
        {% endif %}
    </div>
    <div class="form-group fg-line  {% if form.last_name.errors %} has-error {% endif %}">
        {{ form.last_name.label_tag }}
        {{ form.last_name|add_class:"form-control" }}
        {% if form.last_name.errors %}
            <small class="help-block">
                {{ form.last_name.errors }}
            </small>
        {% endif %}
    </div>
    <div class="form-group fg-line {% if form.user_timezone.errors %} has-error {% endif %}">
        {{ form.user_timezone.label_tag }}
        {{ form.user_timezone|add_class:"form-control chosen" }}
        {% if form.user_timezone.errors %}
            <small class="help-block">
                {{ form.user_timezone.errors }}
            </small>
        {% endif %}
    </div>
    <div class="form-group fg-line {% if form.inspinia_skin.errors %} has-error {% endif %}">
        {{ form.inspinia_skin.label_tag }}
        {{ form.inspinia_skin|add_class:"form-control chosen" }}
        {% if form.inspinia_skin.errors %}
            <small class="help-block">
                {{ form.inspinia_skin.errors }}
            </small>
        {% endif %}
    </div>
    {% if request.user.organisation_manager %}
        <div class="form-group fg-line  {% if form.organisation_manager.errors %} has-error {% endif %}">
        <div class="toggle-switch toggle-switch-demo" data-ts-color="red">
        {{ form.organisation_manager.label_tag }}
        {{ form.organisation_manager }}
        <label for="ts5" class="ts-helper"></label>
        </div>
        </div>
    <div class="form-group fg-line {% if form.host_groups.errors %} has-error {% endif %}">
    {{ form.host_groups.label_tag }}
    {{ form.host_groups|add_class:"form-control chosen" }}
    {% if form.host_groups.errors %}
    <small class="help-block">
    {{ form.host_groups.errors }}
    </small>
    {% endif %}
    </div>
    {% if not object.id %}
    <div class="form-group fg-line">
    {{ form.organisation.label_tag }}
    {{ request.user.organisation.name|title}}
    </div>
    {% endif %}
    {% endif %}
    {% if request.user.is_superuser %}
    <div class="form-group fg-line  {% if form.organisation_manager.errors %} has-error {% endif %}">
    {{ form.organisation_manager.label_tag }}
    {{ form.organisation_manager }}
    </div>
    <div class="form-group fg-line">
    {{ form.organisation.label_tag }}
    {{ form.organisation|add_class:"form-control chosen" }}
    </div>
    {% endif %}
    </div>
    </div>
    {% include "ui/includes/_end_widget.html" %}
    {% include "ui/includes/_widget_buttonbar.html" %}
    <div class="row ">
    <button type="submit" class="btn btn-primary">{% if object.id %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
    </div>
    </div>
    {% include "ui/includes/_end_widget.html" %}
</form>
{% endblock %}
{% block javascript %}


    <script language="javascript">
    $(function(){
        {% if object.id %}
            var prefix = "{% trans 'Update User' %}"
        {% else %}
            var prefix = "{% trans 'Create New User' %}"
        {% endif %}
        var text_field = $("#id_username")
        text_field.bind("change keyup input",function() {
            $("#card_header").html(prefix +" <small>"+ this.value+"</small>")
        })

        $("#card_header").html(prefix +" <small>"+ text_field.val()+"</small>")

    })
    </script>
{% endblock %}
