{% load  i18n %}
{% load extra_tags %}
<tr>
    <td id="{{server.id|clean}}_server_up"><span data-toggle="tooltip" data-placement="top" title="{% trans 'Server Status' %} : {{  server.server_up|server_status_to_string }}">{{ server.server_up|server_status_to_css_class|safe}}</span></td>
    <td>{{ server.localhostname }}</td>
    <td>{{ server.external_ip }}</td>
    <td>{{ server.monit_version }}</td>
    <td id="{{server.id|clean}}_uptime">{{ server.uptime|time_str }}</td>
    <td> <span class="label" id="{{server.id|clean}}_load_1">{{ server.system.load_avg01_last }} </span> <span class="label" id="{{server.id|clean}}_load_5"> {{ server.system.load_avg05_last }}</span> <span class="label" id="{{server.id|clean}}_load_15">{{ server.system.load_avg15_last }}</span></td>
    <td id="{{server.id|clean}}_cpu_progress_bar">{{ server.system.cpu_user_last|percent_to_bar|safe }}</td>
    <td id="{{server.id|clean}}_memory_progress_bar">{{  server.system.memory_percent_last|percent_to_bar|safe }}</td>
    <td id="{{server.id|clean}}_last_received_data"><span class="label {{ server.system.date_last|time_class }}">{{ server.system.date_last|timestamp_to_date }} </span></td>
    <td class="text-center"><a data-toggle="tooltip" data-placement="top" title="{% trans 'Server Alerts' %}"  href="{% url 'ui:server_alerts' server.id %}" ><span class="label {{ server.alerts|status_alert }}">{{server.alerts }}</span></a></td>
    <td class="text-center"><span data-toggle="tooltip" data-placement="top" title="{% trans 'Server Processes' %}" class="label label-success">{{server.processes }}</span></td>
    <td class="text-center">
        <a data-toggle="tooltip" data-placement="top" title="{% trans 'Settings' %}" class="btn btn-xs  bgm-indigo" href="{% url 'ui:server_show' server.id %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
        <a data-toggle="tooltip" data-placement="top" title="{% trans 'KPIs' %}" class="btn btn-xs  bgm-indigo" href="{% url 'ui:server_kpis' server.id %}"><span class="fa fa-bar-chart" aria-hidden="true"></span></a>
        <a data-toggle="tooltip" data-placement="top" title="{% trans 'View' %}" class="btn btn-xs  bgm-indigo" href="{% url 'ui:server' server.id %}"><span class="fa fa-eye" aria-hidden="true"></span></a>
        <a data-toggle="tooltip" data-placement="top" title="{% trans 'More Details' %}" data-href="{{server.id|clean}}_more_details" class="btn btn-xs btn btn-default hec-button waves-effect btn-toggle-info"><span class="fa fa-arrow-circle-down" aria-hidden="true"></span></a>
    </td>
</tr>
<tr id="{{server.id|clean}}_more_details">
    <td colspan="12"  class="p-0">
        <div class="col-md-12 server-data p-b-10" style="display:none">
            <div class="col-md-3 ">
                <h2 class="text-navy">{% trans 'System Properties' %}</h2>
                <span class="text-muted col-md-3">{% trans 'Name' %}:</span><span class="text-success"> {{ server.platform.name}}  </span>     <br/>
                <span class="text-muted col-md-3">{% trans 'Release' %}:</span><span class="text-success"> {{ server.platform.release}}</span> <br/>
                <span class="text-muted col-md-3">{% trans 'Version' %}:</span> <span class="text-success">{{ server.platform.version}} </span><br/>
                <span class="text-muted col-md-3">{% trans 'Machine' %}:</span><span class="text-success"> {{ server.platform.machine}}</span> <br/>
            </div>
            <div class="col-md-3">
                <h2 class="text-navy">{% trans 'CPU Usage' %}</h2>
                <span class="text-muted">CPU Cores:</span> <span class="text-success">{{ server.platform.cpu}}</span> <span class="text-muted">cores</span><br/>
                <span class="text-muted">CPU Wait:</span>
                <div id="{{server.id|clean}}_cpu_wait_progress_bar"></div>
                <span class="text-muted">CPU System:</span>
                <div id="{{server.id|clean}}_cpu_system_progress_bar"></div>
            </div>
            <div class="col-md-3">
                <h2 class="text-navy">{% trans 'Memory Usage' %}</h2>
                <span class="text-muted col-md-4">Total:</span><span class="text-success">  {{ server.platform.memory|kb_formatting|safe}}</span> <br/>
                <span class="text-muted col-md-4">Used:</span> <span id="{{server.id|clean}}_used_memory" class="text-success">{{ server.system.memory_kilobyte_last|kb_formatting|safe }} </span><br/>
                <span class="text-muted col-md-4">Swap:</span><span class="text-success"> {{ server.platform.swap|kb_formatting|safe}}</span>
            </div>
            <div class="col-md-3">
                <h2 class="text-navy">{% trans 'Disk Usage' %}</h2>
                <span class="text-muted col-md-4">Total:</span><span class="text-success" id="{{server.id|clean}}_disk_total"> N/A </span> <br/>
                <span class="text-muted col-md-4">Used:</span> <span id="{{server.id|clean}}_disk_used" class="text-success"> N/A </span><br/>
                <span class="text-muted col-md-4"></span><span class="col-md-10" id="{{server.id|clean}}_disk_used_percent" class="text-success"> N/A </span>
            </div>
        </td>
    </tr>
       <script language="javascript">

            var up_icon = '<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Server Status : UP"><a href="#" class="btn btn-success btn-xs waves-effect"><span class="glyphicon glyphicon-upload"></span></a></span>'


            var socket = io('/{{ server.id|clean }}');
            socket.on('dmc', function(msg) {
                var data = msg.data;

                if (null != data.cpu_wait_last) {

                    $("#{{server.id|clean}}_memory_progress_bar").html(data.memory_last_progress_bar)
                    $("#{{server.id|clean}}_cpu_progress_bar").html(data.cpu_user_last_progress_bar)
                    $("#{{server.id|clean}}_uptime").html(data.uptime)

                    $("#{{server.id|clean}}_load_1").html(data.load_avg1_last)
                    $("#{{server.id|clean}}_load_5").html(data.load_avg5_last)
                    $("#{{server.id|clean}}_load_15").html(data.load_avg15_last)
                    $("#{{server.id|clean}}_used_memory").html(data.memory_last_kb_formatted)

                    $("#{{server.id|clean}}_cpu_wait_progress_bar").html(data.cpu_wait_last_progress_bar)
                    $("#{{server.id|clean}}_cpu_system_progress_bar").html(data.cpu_system_last_progress_bar)

                    $("#{{server.id|clean}}_server_up").html(up_icon)
                    $("#{{server.id|clean}}_last_received_data").html(data.last_received_data)

                }
                if (null != data.fs_blocks_percent_last) {
                        $("#{{server.id|clean}}_disk_total").html(data.fs_blocks_total_formatted)
                        $("#{{server.id|clean}}_disk_used").html(data.fs_blocks_usage_last_formatted)
                       // $("#{{server.id|clean}}_disk_used").html(data.fs_blocks_percent_last_formatted)
                        $("#{{server.id|clean}}_disk_used_percent").html(data.fs_blocks_percent_last_formatted)


                    }
                }
            );


        </script>
