{% load extra_tags %}
<tr id="event-{{ monit_event.id }}" class="{% if monit_event.alarm_raised and not monit_event.cleared_by %} c-red {% else %} fade_me {% endif %}">
<td class="text-center"><small><span class="label bgm-indigo" >{{ monit_event.id }}<span></small></td>
<td><a class="c-blue" target="_blank" href="{% url 'ui:server' monit_event.server.id %}" >{{ monit_event.server.localhostname }}</a></td>
<td>
    <div class="p-1">
        <span class="pull-right btn btn-xs c-lime" data-toggle="tooltip" data-placement="top" title="{{ monit_event.event_time}}"> {{ monit_event.event_time|time_diff|format_timedelta }}</span>
        <p class="m-b-xs">
            {{ monit_event.event_message }}
        </p>
        <div class="btn-group btn-group-xs" role="group">
            <button data-toggle="tooltip" data-placement="right" title="Comments" event-id="{{monit_event.id }}" type="button" class="btn btn-primary {{ monit_event.moniteventcomment_set.all|length|comments_style}} waves-effect view-event-comments "><i class="fa fa-comment-o"></i> <span>{{ monit_event.moniteventcomment_set.all|length}} </span> </button>
            <button data-toggle="tooltip" data-placement="top" title="Details" event-id="{{monit_event.id }}" type="button" class="btn btn-primary waves-effect view-event-details">View</button>
        </div>
    </div>
</td>
<td><b>{{ monit_event.event_id|event_status_to_string }}</b><br/><b><span class="label label-{{ monit_event.event_state|event_state_to_style }}">{{ monit_event.event_state|event_state_to_string }}</b></span></td>
<td>{{ monit_event.event_type|type_to_string }}<br/><strong>{{ monit_event.service}} </strong></td>
<td>{{ monit_event.event_action|action_to_string }}</td>
<td>{% if monit_event.event_state == 1  %} {{ monit_event.alarm_raised|to_icon|safe }} {% else %} - {% endif%}</td>
<td>{% if monit_event.event_state == 1  %} {{ monit_event.is_duplicate_of|to_btns|safe }} {% else %} - {% endif%}</td>
<td>{% if monit_event.event_state == 1 and monit_event.cleared_by  %} {{ monit_event.cleared_by|to_btn|safe }} {% else %} - {% endif%}</td>
<td>{% if monit_event.event_state == 0  %} {{ monit_event.cleared_alarms|to_btns|safe }} {% else %} - {% endif%}</td>
</tr>
<script type="text/javascript">
</script>
