{% load extra_tags %}
{% load i18n %}
<div class="modal-dialog">
    <div class="modal-content animated fadeIn">
        <div class="card">
            <div class="card-header ch-alt ">
                <h2> <i class="fa fa-bell-o modal-icon"></i> Event details <small>{{ monit_event.event_message }}</small></h2>
                <div class="actions">
                </div>
                <button class="btn btn-default btn-float waves-effect waves-circle waves-float minimize bgm-red"  data-dismiss="modal" ><i class="zmdi zmdi-close"></i></button>
            </div>
            <div class="card-body card-padding">
                <div role="tabpanel" class="tab">
                    <!-- Nav tabs -->
                    <ul class="tab-nav" role="tablist">
                        <li role="presentation" {% if not comments %}class="active"{% endif %}><a href="#event_details" aria-controls="event_details" role="tab" data-toggle="tab">Event Details</a></li>
                        <li role="presentation" {% if comments %}class="active"{% endif %}><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in {% if not comments %}active{% endif %} " id="event_details">

                            <div class="p-5">
                                <div class="row ">
                                    <div class="col-md-12 m-10">
                                        <div class="col-md-3 -text">
                                            <b>Event</b>
                                        </div>
                                        <div class="col-md-9 -text">
                                            <span class="label label-warning" >{{ monit_event.id }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 m-10">
                                            <div class="col-md-3 -text">
                                                <b>Status</b>
                                            </div>
                                            <div class="col-md-9 -text">
                                                {% if monit_event.event_state == 1  %}
                                                    {% if monit_event.alarm_raised and not monit_event.cleared_by %} Raised {% elif monit_event.alarm_raised and monit_event.cleared_by %} Raised and Cleared {% else %} Duplicate {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 m-10">
                                            <div class="col-md-3 -text">
                                                <b>Event Type </b>
                                            </div>
                                            <div class="col-md-9 -text">
                                                {{ monit_event.event_type|type_to_string }}<br/><b>{{ monit_event.service}} </b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 m-10">
                                            <div class="col-md-3 -text">
                                                <b>Host</b>
                                            </div>
                                            <div class="col-md-9 -text">
                                                {{ monit_event.server.localhostname }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 m-10">
                                            <div class="col-md-3 -text">
                                                <b>Date </b>
                                            </div>
                                            <div class="col-md-9 -text">
                                                {{ monit_event.event_time}} <br/> {{ monit_event.event_time|time_diff|format_timedelta }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 m-10">
                                            <div class="col-md-3 -text">
                                                <b>Event ID </b>
                                            </div>
                                            <div class="col-md-9 -text">
                                                {{ monit_event.event_id|event_status_to_string }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 m-10">
                                            <div class="col-md-3 -text">
                                                <b>Event State </b>
                                            </div>
                                            <div class="col-md-9 -text">
                                                <span class="label label-{{ monit_event.event_state|event_state_to_style }}"> <b>{{ monit_event.event_state|event_state_to_string }}</b></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12 m-10">
                                            <div class="col-md-3 -text">
                                                <b>Monit Action </b>
                                            </div>
                                            <div class="col-md-9 -text">
                                                {{ monit_event.event_action|action_to_string }}
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- p-5 -->
                        </div> <!--tabpanel -->
                        <div role="tabpanel" class="tab-pane fade in {% if comments %}active{% endif %}" id="comments">

                            <div class="m-10">
                                <div class="row clearfix  no-comments" style="display:none">
                                    <div class="col-md-12 -text">
                                        {% trans 'There are no comments yet on this event.' %}
                                    </div>
                                </div>
                                {% for comment in monit_event.moniteventcomment_set.all %}
                                    <div class="row clearfix " id="comment-{{comment.id}}">
                                        <div class="col-md-12 m-10">
                                            <b>{{comment.user|title}}</b> added a comment - {{comment.created_at}}
                                            <p class="text-info markdown-content" id="comment-text-{{comment.id}}">
                                                {{comment.content}}
                                            </p>
                                            {% if current_user == comment.user %}
                                                <div  role="group" aria-label="First group">
                                                    <button type="button" class="btn btn-circle btn-danger pull-right btn-delete" comment-id="{{comment.id}}"><i class="fa fa-trash"></i></button>
                                                    <button type="button" class="btn btn-circle btn-primary pull-right btn-edit" comment-id="{{comment.id}}"><i class="fa fa-edit"></i></button>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% empty %}
                                    <div class="row clearfix  no-comments">
                                        <div class="col-md-12 c-red">
                                            {% trans 'There are no comments yet on this event.' %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="row editor clearfix ">
                                    <div class="col-md-12 fg-line m-t-10">
                                        <textarea id="comment-textarea"  class="form-control" rows="5" style="display: none"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 m-20">
                                        <div class="col-md-3 -text">
                                            <button type="button" class="btn btn-white btn-comment"> <i class="fa fa-comment-o"></i> Comment</button>
                                            <button type="button" class="btn btn-primary btn-add" style="display: none" is-new="true">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--tabpanel -->
                    </div><!-- tabcontent -->
                </div> <!-- tabpanel -->
            </div><! --cardbody -->
        </div><!-- card -->
     </div><!-- modal content -->
</div><! -- modal -->
<script type="text/javascript">
$(".btn-comment").click(function(){
 //       $("#comment-textarea").markdown({autofocus:false,savable:false,iconlibrary:"fa"})

  $("#comment-textarea").show()
  $(this).hide()
  $(".btn-add").show();
  $(".btn-add").prop('disabled', true);

})
$(".btn-add").click(function(){
    is_new = true
    if ($("#comment-textarea").val().length > 0)
    {
        is_new_attribue = $(this).attr("is-new")
        if (is_new_attribue=="true")
            comment_action("new",0)
        else
            comment_action("update",is_new_attribue)
    }
})

$(".btn-delete").click(function(){
    comment_id = $(this).attr("comment-id")
    comment_action("delete",comment_id)
})

$(".btn-edit").click(function(){
    comment_id = $(this).attr("comment-id")
    comment_text = $("#comment-text-"+comment_id).html()
 //   $("#comment-textarea").markdown({autofocus:false,savable:false})
    $("#comment-textarea").show()
     $("#comment-textarea").val(comment_text)
    $(".btn-comment").hide()
    $(".btn-add").show();
    $(".btn-add").prop('disabled', false);
    $(".btn-add").attr("is-new",comment_id);
    $(".btn-add").text("Edit")
})

var close_editor = function(){
    $("#comment-textarea").hide()
    $(".btn-comment").show()
    $(".btn-add").attr("is-new",true);
    $(".btn-add").text("Add")
    $(".btn-add").hide();
}
var comment_action = function(action, comment_id){
    $.ajax({
             url: "{% url 'n:postcomment' %}", // the endpoint
             type: "POST", // http method
             data: {
                 "event_id": {{ monit_event.id }},
                 "comment": $("#comment-textarea").val(),
                 "action": action,
                 "comment_id": comment_id
             },
             // handle a successful response
             success: function(data) {
                if (action=="new"){
                        $('.no-comments').hide();
                        $("#comment-textarea").val("")
                        $(data.html).insertBefore(".editor");
                    }
                else{
                    if (action=="update")
                        $("#comment-"+comment_id).replaceWith(data.html)
                    else
                    {
                        $("#comment-"+comment_id).hide()
                        if (data.count == 0)
                        {
                             $('.no-comments').show();
                        }
                    }
                }
                close_editor()
             },
             // handle a non-successful response
             error: function(xhr, errmsg, err) {
                 $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                     " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                 close_editor()
             }
         });

}

/*
$( ".markdown-content" ).each(function( index ) {
    html_content = markdown.toHTML( $( this ).html() );
    $( this ).html(html_content)

});
*/

$("#comment-textarea").keyup(function(){
    if ($("#comment-textarea").val().length ==0)
          $(".btn-add").prop('disabled', true);
     else
          $(".btn-add").prop('disabled', false);
})
</script>
