{% load extra_tags %}
<div class="{{width}}">
    <div class="card">

    {% with request.path|urlencode|add:"_filter-details" as key %}

    <div class="card-header ch-alt ">
        <h2 style="{{key|get_card_header_opacity:user}}"> Filter details <small class="c-yellow m-t-5" id="filter-details">{{description}}</small></h2>
        <button class="btn btn-default btn-float waves-effect waves-circle waves-float {{theme}}" onclick="minimize(this,'{{request.path|urlencode}}','filter-details')" ><i class="zmdi {{key|get_card_button_style:user}}"></i></button>
    </div>
        <div class="card-body card-padding {{key|get_card_status:user}}" style="{{key|get_card_style:user}}">
    {% endwith %}
