{% load extra_tags %}
<div id="dashboard_table" class="table-responsive">
    <table class="table table-hover table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Hostname</th>
                <th>Address</th>
                <th>Monit version</th>
                <th>Uptime</th>
                <th>Load avgerages</th>
                <th>CPU (user)</th>
                <th>Memory</th>
                <th>Last data received</th>
                <th>Alerts</th>
                <th>Processes</th>
                <th>Settings {{ server.disable_monitoring }}</th>
            </tr>
        </thead>
        <tbody>
            {% for hg in host_groups %}
                <tr>
                    <td colspan="12">
                        <h3> Host Group : <span class="text-navy">{{ hg.display_name }}  </span><a class="label label-default"><i class="fa fa-edit"></i></a></h3>
                    </td>
                </tr>
                {% for server in servers %}
                  {% if hg == server.host_group %}
                    {% if not monitoring_enabled  %}

                            <tr data-toggle="tooltip" data-placement="top" title="{{ server.platform }}" class="link" onclick="document.location = '{% url 'ui:server' server.id %}';"  >
                                <td>{{ server.server_up|server_status_to_css_class|safe}}</td>
                                <td>{{ server.localhostname }}</td>
                                <td>{{ server.external_ip }}</td>
                                <td>{{ server.monit_version }}</td>
                                <td>{{ server.uptime|time_str }}</td>
                                <td>{{ server.system.load_avg01_last }}, {{ server.system.load_avg05_last }}, {{ server.system.load_avg15_last }}</td>
                                <td>{% autoescape off %}{{ server.system.cpu_user_last|percent_to_bar }}{% endautoescape %}</td>
                                <td>[{{ server.system.memory_kilobyte_last|kb_formatting }}] {% autoescape off %}{{  server.system.memory_percent_last|percent_to_bar }}{% endautoescape %}</td>
                                <td><span class="label label-{{ server.system.date_last|time_class }}">{{ server.system.date_last|timestamp_to_date }} </span>
                                <td><a href="{% url 'ui:server_alerts' server.id %}" ><span class="label label-{{ server.alerts|status_alert }}">{{server.alerts }}</span></a></td>
                                <td><span class="label label-success">{{server.processes }}</span></td>
                                <td><a class="btn btn-xs btn-primary" href="{% url 'ui:server_show' server.id %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></td>
                            </tr>

                        {% else %}
                            <tr>
                                <td></td>
                                <td>{{ server.localhostname }}</td>
                                <td>{{ server.address }}</td>
                                <td>{{ server.monit_version }}</td>
                                <td>{{ server.uptime|time_str }}</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td><span class="label label-{{ server.system.date_last|time_class }}">{{ server.system.date_last|timestamp_to_date}} </span>
                                <td><span class="label label-danger"> New Server Detected</span></a></td>
                                <td>-</td>
                                <td><a class="btn btn-xs btn-primary" href="{% url 'ui:server_show' server.id %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<script>

   $('[data-toggle="tooltip"]').tooltip()

</script>
