{% load extra_tags %}

<div id="server_table" class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>name</th>
            <th>status</th>
            <th>Space Usage</th>
            <th>Inodes Usage</th>
        </tr>
        </thead>
        <tbody>
        {% for fs in filesystems %}
            <tr>
                <td>{{ fs.display_name }}</td>
                <td><span class="label label-{{ fs.status|status_tr_class:fs.monitor }}">{{ fs.status|status_to_string:fs }}</span></td>
                <td>{% autoescape off %}{{ fs|fs_percent_bar }}{% endautoescape %}</td>
                <td>{% autoescape off %}{{ fs|fs_percent_bar_inode }}{% endautoescape %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
