{% load extra_tags %}

{# table-striped table-condensed table-hover class="success" class="warning" class="danger"#}
<div id="server_table" class="table-responsive">
  <table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
        <th>name</th>
        <th>status</th>
        <th>upload</th>
        <th>download</th>
      </tr>
    </thead>
    <tbody>
      {% for net in nets %}
	<tr >
	  <td>{{ net.name }}</td>
	  <td class="{{ net.status|status_class:net.monitor }}">{{ net.status|status_str:net.monitor }}</td>
        <td></td>
        <td></td>
	</tr>
      
      {% endfor%}
    </tbody>
  </table>
</div>
