{% load extra_tags %}
<div id="process_table" class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>name</th>
          <th>status</th>
          <th>uptime</th>
          <th>children</th>
          <th>CPU total</th>
          <th>memory total</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{ process.status|status_tr_class:process.monitor }}">
          <td>{{ process.name }}</td>
          <td >{{ process.status|status_str:process.monitor }}</td>
          <td>{{ process.uptime|time_str }}</td>
          <td>{% if process.children %}{{ process.children|format_number }}{% endif %}</td>
          <td>{{ process.cpu_percent_last|percent }}</td>
          <td>{{ process.memory_percent_last|percent }} {% if process.memory_kilobyte_last %}[{{ process.memory_kilobyte_last*1024.0|human_readable_size}}] {% endif %}</td>
        </tr>
      </tbody>
    </table>
</div>

